[2015-11-13 17:13] PMassicotte opened #1 "Add sample data"
Let's add a sample dataset returned by `gtrends()` in the `data` folder. This will be useful for examples documentation.

[2015-11-13 17:28] eddelbuettel commented on #1
Hml.  Are we allowed to distribute that?

[2015-11-13 17:37] PMassicotte commented on #1
Good question. Never thought about that. For me it is public, but I do not know
anything about the subject.

I'm happy to benefit from your experience in that :-)

Sent using CloudMagic Email
[https://cloudmagic.com/k/d/mailapp?ct=ta&cv=8.0.55&pv=5.1.1&source=email_footer_2] On Fri, Nov 13, 2015 at 6:28 PM, Dirk Eddelbuettel < notifications@github.com [notifications@github.com] > wrote:
Hml. Are w

[2015-11-13 17:39] eddelbuettel commented on #1
Maybe poke around the site and look for 'terms of use'?  In small doses this may be fine.

[2015-11-13 19:57] PMassicotte commented on #1
I did a wuick search and I do not see problem so far as long as we cite it.

https://support.google.com/trends/answer/4365538?hl=en

[2015-11-13 21:06] eddelbuettel commented on #1
:+1: -- nice find.  We can add that to charts as well as embedded text (with a plug to _both_ our package and the source).

[2015-11-15 14:01] #1 closed

[2015-11-16 14:36] eddelbuettel opened #2 "More README stuff"
Thanks for editing in more content--was about to suggest that.

We can place the png file somewhere else, even on a gh-pages branch, and I don't think we need .Rmd and .md.

Have a look at some my README.md files. I tend to place the badges into a single row. Better?

We could also put tarballs into a drat repository if you see fit.  Easy enough to set up.

[2015-11-16 16:19] PMassicotte commented on #2
Good idea. Will work on that tomorrow morning and I will have a look to your packages to format badges.

[2015-11-16 19:01] PMassicotte opened #3 "Multiple keyword"
Might be more elegant to use a vector of keywords or ... Instead of a simple string when doing queries.

Example:

[code]

Compared to:

[code]

[2015-11-16 19:13] eddelbuettel commented on #3
BTW we can also get rid of `ch` as a mandatory argument. We did that for the Rblpapi package: assign t a package-local environment, a retrieve from there when no argument is supplied.

Between the two forms above I probably vote for  `gtrends(ch, c("NHL", "NBA", "MLB", "MLS"))`.

[2015-11-16 19:17] PMassicotte commented on #3
Sounds good! Ill go for you second suggestion.

Will also take a look to `Rblpapi`.

[2015-11-16 19:28] eddelbuettel commented on #3
I'd be happy to carry the code change.  In essence we'd go from

        gtrends <- function(ch, query, geo = "all", cat = "0", ...) {

to something like

        gtrends <- function(query, geo = "all", cat = "0", ..., ch=.getDefaultConnection()) {

where `.getDefaultConnection()` would recall the `ch` object stored by `gconnect()`.  Sounds way harder than it is and makes the usage (IMHO) much nic

[2015-11-16 19:34] PMassicotte commented on #3
Sounds perfect, should we open en issue for this?

[2015-11-16 20:01] eddelbuettel opened #4 "Default connection object"
We could go from

        gtrends <- function(ch, query, geo = "all", cat = "0", ...) {

to something like

        gtrends <- function(query, geo="all", cat="0", ..., ch=.getDefaultConnection()) {

where `.getDefaultConnection()` would recall the `ch` object stored by `gconnect()` inside a package-local environment.

[2015-11-17 08:46] #3 closed

[2015-11-18 14:16] #4 closed

[2015-11-18 14:17] #2 closed

[2015-11-18 14:31] PMassicotte opened #6 "Authentification problem"
Some users have this problem

http://pmassicotte.github.io/2015-11-17-gtrendsR/

Probably a something 2-steps authentication. Need better error message when that happen because it now says "not enough volume to ..."

[2015-11-18 14:35] eddelbuettel commented on #4
Glad you like it :)

[2015-11-18 14:37] eddelbuettel commented on #6
That bit me too :cry:

And I only noticed because I also got an email from Google--had not used this 'for Google Trends testing' account in a while.

[2015-11-18 14:43] eddelbuettel opened #7 "Only README.md needed"
We don't usually need the .Rmd to generate the .md.

[2015-11-19 09:14] PMassicotte commented on #7
Not sure to understand. Are you suggesting to add the Rmd to gitignore?

[2015-11-19 12:25] eddelbuettel commented on #7
I suggest to delete the Rmd and to edit the md by hand.  That also avoids re-creating the png each time.

No other repo I know creates the md programmatically.  Editing md is easy enough in my mind.  Am I missing something crucial here?

[2015-11-19 13:21] PMassicotte commented on #7
I was simply refering to:

From http://r-pkgs.had.co.nz/release.html

I do not mind to remove it if you prefer!

[2015-11-19 13:33] eddelbuettel commented on #7
I will add this to long list of @hadley recommendations I disagree with / find misleading.

Just. Edit. The md. File.  Pandoc and GitHub take it from there.   About to commute in and will prepare a suggestion in a pull request.

[2015-11-19 14:26] eddelbuettel commented on #7
Forget a 'closes' note in the PR.  Hence manual mode...

[2015-11-19 14:26] #7 closed

[2015-11-23 11:09] melkbucher opened #11 "Daily data"
Dear Philippe, Dirk,

Thanks for the great package.

Would be great to have the option to have daily granularity in search. I know it opens quite a bit of issues with regards to scaling the search interest over time. Eric Salina has had a go at it with Python: https://github.com/ecsalina/gtrends. Not sure if that is of help? Will have a go at it myself.

Melk

[2015-11-23 14:21] PMassicotte commented on #11
Example here:

https://www.google.fr/trends/explore#date=10/2015+1m&q=nhl&geo=CA

[2015-11-23 15:37] eddelbuettel commented on #11
:+1:

[2015-11-24 15:41] PMassicotte commented on #11
Forgot to close it by code.

[2015-11-24 15:41] #11 closed

[2015-11-24 16:05] eddelbuettel opened #13 "RCurl -> curl ?"
When we started this, @jeroenooms had not yet written [curl](http://cran.rstudio.com/package=cran).  Now it exists, and is probably a lot better.   I just had my laptop fail mysteriously with RCurl.  Works on my work and home machines so I suspect libssl choices...

[2015-11-24 16:07] eddelbuettel opened #14 "Daily data breaks normal use"
Check

[code]

[2015-11-24 16:22] eddelbuettel commented on #14
Also:

[code]

[2015-11-24 16:48] PMassicotte commented on #14
I can not have daily data directly from google Trends

https://www.google.fr/trends/explore#q=nba&date=10%2F2015%203m&cmpt=q&tz=Etc%2FGMT-1

I think data under 3 month timespan are returned "daily".

[2015-11-24 16:49] PMassicotte commented on #14
I just fixed the plot proble. Will push it. Sorry  did not make a branch!

[2015-11-24 16:50] PMassicotte commented on #13
Might be a good idea. I never worked with `curl` but I'm game to give it a try soon.

[2015-11-24 16:58] PMassicotte opened #15 "Maximum 5 keywords"
Google does not allow more than 5 keywords. This is a quick fixe.

[2015-11-24 17:02] eddelbuettel commented on #13
I think for RPushBullet I considered switching but then I was already doing everything with the curl _binary_ so I was too lazy to switch.

Maybe it is simpler for us to just detect when RCurl is busted....

[2015-11-24 17:02] eddelbuettel commented on #14
Jay.

[2015-11-24 17:04] #15 closed

[2015-11-24 17:05] PMassicotte commented on #14
Oups, another bug?

[2015-11-24 17:05] eddelbuettel commented on #14
The default case works indeed -- thanks.

But
[code]
come out identical.  They shouldn't.

[2015-11-24 17:07] PMassicotte commented on #14
Can you send me link of both Google Trends of expected results? I can not reproduce that on the website.

[2015-11-24 17:07] eddelbuettel opened #16 "Auto-connect ?"
I am lazy and in another package requiring a handle I connect on package load if and only if another global is set.

So to go along with user and password, I suggest `google.autoconnect` that, if TRUE, will have us call `gconnect()` at package load.  If you like the idea I can add that in a branch in no time.

[2015-11-24 17:09] PMassicotte commented on #16
Go for it my friend. Sounds like a super idea :+1:

[2015-11-24 17:11] eddelbuettel commented on #14
I ran the updated package in RStudio and got:

[code]

So they both fail :-/   My error?

[2015-11-24 17:19] PMassicotte commented on #14
Weirdo, I just cut and pasted it and it works fine...

[2015-11-24 17:22] eddelbuettel commented on #14
Lemme pull once then.

[2015-11-24 17:24] eddelbuettel commented on #14
Typo, but *still buggy* as I get daily data *in both cases*:

[code]

[2015-11-24 17:29] PMassicotte commented on #14
I do not think it is possible to have weekly data for date bellow 3 months.  At least I can not on the website. If I select 1 oct 2015 as starting date it always return me daily data.

[2015-11-24 18:05] eddelbuettel commented on #14
Ahh. Confirmed.  Maybe need to add that to the documentation.

[2015-11-24 18:05] #14 closed

[2015-11-25 18:48] #16 closed

[2015-11-25 18:50] PMassicotte opened #18 "CRAN?"
What do you think should be done before we send it to CRAN?

[2015-11-25 19:07] eddelbuettel commented on #18
Nothing :)   Just kidding.  Pull request coming in a short while, 'R CMD check' for r-devel was nagging.

But  good to know your [eemR](http://cran.rstudio.com/package=eemR) experience was not too troubling?

As in extra feature, maybe check with the 'week' option that the period between start and end date is not too small?  Likewise for date 'day' that it is within three month?

[2015-11-25 19:09] eddelbuettel commented on #18
Oh, one in all seriousness:  do we really need gather and its implied dependency on dplyr?

[2015-11-25 19:14] PMassicotte commented on #18
eemR was my first package and the submission went very well. Accepted on first try hehe

I can work out to remove dplyr and tidyr tomorrow :-)  was just too lazy to do it before. Actually, I might do it tonight. Let's see if wife agree!

[2015-11-25 19:22] eddelbuettel commented on #18
I meant to look into it too.  I recall we didn't need it 'way back when'.  It may well do something useful, but on one box which I tested gtrendsR on it did pull dplyr in and that took five minutes of building for no real reason.   I should really look into what the data looks like pre-`tidyr::gather_`.

A _real_ side-benefit would that our Travis runs would only take a third of the nine minutes t

[2015-11-28 14:45] eddelbuettel commented on #18
So ... should we?

[2015-11-28 15:48] PMassicotte commented on #18
Oui nous devrions :-)

Shall we do it now?

[2015-11-28 15:52] eddelbuettel commented on #18
All in your hands, as you are the Maintainer.  But I am running out of excuses to prevent it.

_Alors -- on y bouge?_

[2015-11-28 16:09] PMassicotte commented on #18
Hehe OK. As soon as my wife is done with skyping her family (I need the laptop for it) I'll summit!

[2015-11-28 16:10] eddelbuettel commented on #18
Awesomesauce!

[2015-11-28 16:11] eddelbuettel commented on #18
Oh, one thing I was wondering:  make the README.md 'tighter'?  I show the chart earlier?  Maybe drop the block that shows the two functions?

[2015-11-28 16:13] PMassicotte commented on #18
Chart? I don't know hehe

Mind to work on it while I do not have access to the computer?

Sent using CloudMagic Email
[https://cloudmagic.com/k/d/mailapp?ct=ta&cv=8.0.67&pv=5.1.1&source=email_footer_2] On Sat, Nov 28, 2015 at 5:11 PM, Dirk Eddelbuettel < notifications@github.com [notifications@github.com] > wrote:
Oh, one thing I was wondering: make the README.md 'tighter'? I show the chart
earlie

[2015-11-28 16:15] eddelbuettel commented on #18
Sure. I'll create a branch.

[2015-11-28 16:32] PMassicotte commented on #18
I'll create the news and cran comment MD files for the submission in a new branch.

[2015-11-28 16:33] eddelbuettel commented on #18
Oh, stop with the hadleyisms.  I never use `comment.md`.

[2015-11-28 16:34] PMassicotte commented on #18
OK, need a news then?

Sent using CloudMagic Email
[https://cloudmagic.com/k/d/mailapp?ct=ta&cv=8.0.67&pv=5.1.1&source=email_footer_2] On Sat, Nov 28, 2015 at 5:33 PM, Dirk Eddelbuettel < notifications@github.com [notifications@github.com] > wrote:
Oh, stop with the hadleyisms. I never use comment.md .

—
Reply to this email directly or view it on GitHub
[https://github.com/PMassicotte/gtrendsR/is

[2015-11-28 16:35] PMassicotte commented on #18
Don't have much experience with submitting package, so just trying to do it the
best.

Sent using CloudMagic Email
[https://cloudmagic.com/k/d/mailapp?ct=ta&cv=8.0.67&pv=5.1.1&source=email_footer_2] On Sat, Nov 28, 2015 at 5:33 PM, Dirk Eddelbuettel < notifications@github.com [notifications@github.com] > wrote:
Oh, stop with the hadleyisms. I never use comment.md .

—
Reply to this email directly

[2015-11-28 16:36] eddelbuettel commented on #18
Whatever works for you -- you are the maintainer.  I tend to add them.  On first upload it can be short.

I have also added NEWS later on the n-th submission.  Really up to you :)

(I have nothing against Hadleyisms. I am mostly bemused by them.  The R Manuals and the CRAN Policy describes the 'must-do' items.  Folks seem to think what Hadley says is the law.  Not always :)

[2015-11-28 16:39] PMassicotte commented on #18
Will be probably just something like

#gtrendsR 1.3.0
* First version of eemR

[2015-11-28 16:42] PMassicotte commented on #18
Is the version number OK? Shall we start at 0..1.0 ?

[2015-11-28 17:37] eddelbuettel commented on #18
Another Hadleyism, ignoring the fact of a decade+ of precedence of README.md.

Your package, your rules.

[2015-11-28 17:39] PMassicotte commented on #18
Roger that, submitting now.

[2015-11-28 17:40] eddelbuettel commented on #18
Yippieh :)

[2015-11-28 17:40] #18 closed

[2015-11-28 18:40] eddelbuettel commented on #18
Not to jinx it but I add the tag only once CRAN has taken the release. Sometimes "we" overlook things that "they" find...

[2015-11-28 18:41] PMassicotte commented on #18
They did already ,I sent u a mail :-)

[2015-11-28 19:05] eddelbuettel commented on #18
Ahh.  Email is batched. I didn't know.

Well, _chapeau !!_

[2015-11-28 19:09] PMassicotte commented on #18
Good job and thank you for being patient with my mistakes :-)

[2015-11-28 19:21] eddelbuettel commented on #18
They are not "mistakes", they are simply usage patterns us old fogeys of the pre-Hadley ice ages are not familiar with :)

[2015-11-28 21:00] eddelbuettel opened #22 "Minor niggles"
- README can now get a CRAN badge
- README uses relative URL to chart which fails [eg here on CRAN](https://cran.rstudio.com/web/packages/gtrendsR/README.html); suggest to use this [raw URL  instead](https://raw.githubusercontent.com/PMassicotte/gtrendsR/master/inst/images/sport_trend_2015-11.png)
- The manual pages for gtrends has [the example twice](https://github.com/PMassicotte/gtrendsR/blob/m

[2015-11-28 21:17] PMassicotte commented on #22
Cool this raw URL, didn't know it.

[2015-11-28 21:48] eddelbuettel commented on #22
The last Travis build [failed](https://travis-ci.org/PMassicotte/gtrendsR/builds/93686443).  Any idea?

[ I also do not understand your Travis setup, but then I do not use appveyor.  Shall I blame Hadley?  That usually works ... ]

[2015-11-28 21:51] PMassicotte commented on #22
* using session charset: UTF-8
* using option ‘--as-cran’
* checking for file ‘gtrendsR/DESCRIPTION’ ... OK
* checking extension type ... Package
* this is package ‘gtrendsR’ version ‘1.3.0’
* checking CRAN incoming feasibility ... WARNING
Maintainer: ‘Philippe Massicotte <pmassicotte@hotmail.com>’
Insufficient package version (submitted: 1.3.0, existing: 1.3.0)

Seems to be a warning from rcmd ch

[2015-11-28 21:53] eddelbuettel commented on #22
You are missing the point.

https://travis-ci.org/PMassicotte/gtrendsR/builds/93686443

It is red.  It says '#67 failing'.

[2015-11-28 21:55] PMassicotte commented on #22
Should we increase version number? First time I have this warning...

[2015-11-28 21:55] PMassicotte commented on #22
Yeah I know, warning will causes fail in my setup... We have to fix this warning and it will build correctly

[2015-11-28 21:56] eddelbuettel commented on #22
What would changing the version number alter in the Travis setup?

If you suspect an error at the Travis, hit the 'relaunch' button and it will run again.

[2015-11-28 21:57] eddelbuettel commented on #22
I am submitting an alternate Travis setup for kicks in a minute.

[2015-11-28 21:57] PMassicotte commented on #22
Did, waiting on it..

[2015-11-28 22:01] PMassicotte commented on #22
So the fail is because of a warning from R cmd check. The warning msg is

Insufficient package version

Which I suspect it is because we have not increased version number. Look at the log.

[2015-11-28 22:03] eddelbuettel commented on #22
I understand now. I **never ever** turn warning as error on because some of my builds **always** generate a warning: eg the stooopid file larger than 1mb which I get on many shared libraries from C++.

I misunderstood your comment above.  It is a bug in my book to have a build fail just because you declared tag.   But your package -- your rules.

[2015-11-28 22:08] PMassicotte commented on #22
We can either increase to 1.3.1 or turn it of in the ylm file. Have any preference?

[2015-11-28 22:16] eddelbuettel commented on #22
Third option: turn --as-cran off which makes the equal version number less of an issue.  You **will** get bitten by this each time you declare a release, which seems rather silly to me.

Oh well. Other people's preferences.  Hadley probably declares it a feature <shrugs>

[2015-11-28 22:19] eddelbuettel commented on #22
Hold on -- forgot another badge.

[2015-11-28 22:21] #22 closed

[2015-11-28 22:27] PMassicotte commented on #22
Last build still failing...

[2015-11-28 22:27] eddelbuettel commented on #22
Because you merged under it.

[2015-11-28 22:29] eddelbuettel commented on #22
The git command fails: https://travis-ci.org/PMassicotte/gtrendsR/builds/93708986

[2015-11-28 22:31] eddelbuettel commented on #22
I wouldn't worry about it as it [pass as a commit](https://travis-ci.org/PMassicotte/gtrendsR/builds) -- here 73 and 71 are the same so that 72 failed is due to the fact that the branch got deleted under it (or so I think).

Bigger question:  do my changes to Travis affect your Appveyor runs or not?   I saw references from Appveyor to Travis but I know nothing about Appveyor (because I don't care

[2015-11-28 22:34] PMassicotte commented on #22
All good,  it causes no problems.

[2015-11-28 23:03] eddelbuettel commented on #22
Ok -- one _last_ (hopefully) commit to add `install.packages("gtrendsR")` to README.md.

Enough for one day now :)

[2015-11-30 08:36] justa9 opened #24 "Errors when results are returned in a monthly (!) resolution"
There seem to be two consistents errors when the user asks for less popular terms, and the results are returned in a monthly resolution.

Case 1: Package incorrectly returns `Not enough search volume. Please change your search terms.`
- Term: `angus macgyver`
- Code fails in the `if` clause after `vec <- strsplit(resultsText, "\\\n{2,}")[[1]]` inside `.processResults(resultsText, queryparams)`.
-

[2015-11-30 11:34] masalmon opened #25 "Geocode more precise"
I think it would be great to be able to get results for a precise part of a country if one knows the code for this region. E.g. "IN" is India and "IN-WB" is West Bengali, one could be interested in finding the results for "IN-WB".

[2015-11-30 11:48] haosifan opened #26 "Error in `*tmp*`[[i]] : subscript out of bounds"
If I try to run the example code, I always get the error message "Error in \`\*tmp\*\`[[i]] : subscript out of bounds" when running the `sport_trend <- gtrends(c("nhl", "nba", "nfl"))`-Line.

There is no error when connecting to google or anything. Normally this occurs in loops, but I can't figure out, where the mistake exactly is. Anyone else with this problem?

[2015-11-30 12:36] eddelbuettel commented on #26
That is probably an issue with your account / login / credentials and hence the same as #6 so I suggest we close this.

For me, with the options in `~/.Rprofile`, things work just fine:

[code]

I apologize for the poor debugging status of bad connections, but that is already a ticket in #6 so I suggest to close this.

[2015-11-30 12:41] eddelbuettel commented on #25
That would be somewhat difficult.  [See the code](https://github.com/PMassicotte/gtrendsR/blob/master/R/gtrends.R#L244-L253) and data in the package; you would have to unambiguously generalize to all world regions and sub-regions.  This would have to start with a replacement countries data set, and new code.

Volunteers welcome.

[2015-11-30 12:42] eddelbuettel commented on #24
Nice debugging work.  Can you maybe work out a pull request?

[2015-11-30 13:01] eddelbuettel opened #27 "Summary now (partially) borked"
[code]

The query and date used to be written to the object so that `summary()` can return. Something changed...

[2015-11-30 13:07] masalmon commented on #25
Yes I agree that it is not easy to generalize. I have modified the code for my own needs but it's quite ugly. If I figure something better out I'll come back. :-)

[2015-11-30 13:16] eddelbuettel commented on #25
Even if you have just a sketch, we could at least add it to the docs.  Also worth noting that your suggestion already works -- which your initial post did not say :)

[2015-11-30 13:24] PMassicotte commented on #26
Yes lets close this and I can work on that this week.

[2015-11-30 13:25] masalmon commented on #25
Yep sorry. But my sketch only returns the table with week and number of searches (not the other information). I modified the gtrends.R code (I hope the text is attached) so that it returns the string sooner and does not check countries. So at one point I have
vec <- strsplit(resultsText, "\\\n{2,}")[[1]]
  return(vec[2])
[gtrends.txt](https://github.com/PMassicotte/gtrendsR/files/47307/gtrends.txt

[2015-11-30 13:29] PMassicotte commented on #24
@justa9 Can you post code example you have used for this issue?

[2015-11-30 13:36] #26 closed

[2015-11-30 14:41] #27 closed

[2015-11-30 17:27] #6 closed

[2015-11-30 18:08] jriou opened #31 "Error in `tmp*`[[i]] : subscript out of bounds (2 ways authentication)"
Hi,
Thanks for what looks to be very useful. However, I can't manage to use the gtrends() function, even with the provided examples:

Error in `*tmp*`[[i]] : subscript out of bounds

I'm sure this must be on my hand but I can't find the reason...

Best regards,
Julien

R version 3.2.2 (2015-08-14)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.11.1 (El Capitan)

[1] fr_FR.UTF-

[2015-11-30 18:09] PMassicotte commented on #31
Can you try with the dev version of the package?

[2015-11-30 18:12] PMassicotte opened #32 "Force error message when cant connect"
Maybe force the display of error message even if verbose is set to FALSE in `gconnect`.

[2015-11-30 18:19] eddelbuettel commented on #32
Absolutely.  Setting `verbose=FALSE` (ie the default) should only suppress the not-so-relevant "all is good and you are connected" message.  Error messages render the package much less useful and should be displayed.

[2015-11-30 18:21] PMassicotte commented on #32
:+1:

[2015-11-30 18:25] jriou commented on #31
Thanks for answering so quickly, I tried and it's the same thing...

[2015-11-30 18:31] tokumotion opened #33 "Can't run searches. Return: Not enough search volume. Please change your search terms."
Hello,

I've tried the package today but  when I tried to run some searches I received this:

    Not enough search volume. Please change your search terms.

This is my code:

    retail <- gtrends(query = c("black friday", "cyber monday"))

Downloaded the dev version using:

    devtools::install_github("PMassicotte/gtrendsR")

Thanks!

[2015-11-30 18:34] PMassicotte commented on #33
Are you using a two-steps authentication usually to connect to gmail?

[2015-11-30 18:36] tokumotion commented on #33
Yes:

    usr <- "mymail@gmail.com"
    psw <- "password"
    ch <- gconnect(usr, psw)

[2015-11-30 18:38] PMassicotte commented on #33
I mean, are you using goole 2 way authentication
https://support.google.com/accounts/answer/185839?hl=en

[2015-11-30 18:41] tokumotion commented on #33
@PMassicotte oh yes, I am. Do I need to run an extra step?

[2015-11-30 18:43] PMassicotte commented on #33
OK cool. I tihnk this is the problem, but we have not figured how to do it.

http://gastonsanchez.com/blog/how-to/2015/04/06/RGoogleDocs-access.html

Please have  look here and check if you can change the settings of your Google account.

*Allowing access to your Google account*

[2015-11-30 18:49] tokumotion commented on #33
Yeah, that was the problem. Used my secondary account but received this message instead:

    Error in `*tmp*`[[i]] : subscript out of bounds

Which already has an issue thread. I'm closing this issue. Thank you!

[2015-11-30 18:50] #33 closed

[2015-11-30 19:10] zmijunkie commented on #31
Same here ... but I haven't tried the dev version of the package

[2015-11-30 19:47] PMassicotte commented on #25
https://www.iso.org/obp/ui/#iso:code:3166:CA

https://en.m.wikipedia.org/wiki/ISO_3166-2

[2015-11-30 20:48] #32 closed

[2015-12-01 02:00] DaRobert commented on #31
the same here, I'm using the dev version.

[2015-12-01 02:21] eddelbuettel commented on #31
For what it is worth I am pretty serious about two-factor authentication for my main account, so I create a "spare" for this work. It uses just username and password, and that seems to work just fine.

Whenever something irregular happens, Google may send email to the email address associated with the username. Checking there may give a clue.

[2015-12-01 03:40] eddelbuettel commented on #31
So I just pulled from GitHub and I also get

[code]

When I revert to the released version things work:

[code]

[2015-12-01 03:42] eddelbuettel commented on #31
Philippe,

It is the

[code]

which is `FALSE` for me.  For me

[code]

would work.

[2015-12-01 07:14] PMassicotte commented on #31
I will have to test more. There is something I do not understand quite well at the moment :)

[2015-12-01 08:28] MathieuDe commented on #31
If it may help (same error here):
library(gtrendsR)
ch<-gconnect(usr="mymail",psw="mypwd")
res <- gtrends(c("nhl", "nba", "nfl"))
Error in `*tmp*`[[i]] :subscript out of bounds

However using gtrend https://trinkerrstuff.wordpress.com/2014/11/24/gtrendsr-package-to-explore-google-trending-for-field-dependent-terms

library(gtrend)
out <- gtrend_scraper("mymail","mypwd",terms, geo="FR")
Loading req

[2015-12-01 10:59] masalmon commented on #25
Thanks, I'll try to have a look at that!

[2015-12-01 18:11] eddelbuettel commented on #31
@MathieuDe Pointing to Tyler's package means nothing; it connects different.  We have (in the simplest case) an overzealous rejection of correct connections (as I showed), but (in the worst case) also a lack of proper affirmation of a working connection.

@PMassicotte Just to think out of the box:  how about if upon connection we actually run a (small, very paramterized) query in a `try/catch` and

[2015-12-01 18:51] eddelbuettel commented on #31
@PMassicotte : I asked for help over within rOpenSci and the always-very-resourceful @jennybc (who knows this stuff rather well from her work with Google Spreadsheets [as an R-accessible data store]) pointed to [this googleAuthR package](https://github.com/MarkEdmondson1234/googleAuthR).  In case we find nuttin' better to do ...

[2015-12-01 19:04] jennybc commented on #31
Picking up on @eddelbuettel ... I don't know if the Google Trends API is compatible with `googleAuthR`. But if it is, I think it's a good idea for all of us wrapping Google APIs to standardize on an auth package and work together on it. It will also make life easier for the user.

[2015-12-01 19:16] PMassicotte commented on #31
I'll have a look to it @jennybc ! Tx for the head up.

Day is over for me in DK, see you tomorrow 😎

[2015-12-02 09:14] PMassicotte commented on #31
@eddelbuettel I think I found it! When you have time, can you look at the new branch I pushed? I now use real HTTP response to validate if connection is successful. I also use Google cookie URL to validate the connection. If it works I will finalize the code and send a PR.

Cheers!

[2015-12-02 12:35] eddelbuettel commented on #31
That looks good and should work.

But the proof is in the pudding. I'd say do the PR. we let people test the dev version in master for a day or two and then ship as 1.3.1?

[2015-12-02 12:37] PMassicotte commented on #31
Sounds good my friend @eddelbuettel ! Will do that today :)

[2015-12-02 21:03] tokumotion commented on #31
Still got the same problem with new version. But I read something that @eddelbuettel said about Google sending emails everytime something goes weird. Everytime I try to use the package, I get an email. That's something wrong on my account's side or the package?

[2015-12-02 21:25] eddelbuettel commented on #31
That is you.

[2015-12-03 07:07] PMassicotte commented on #31
@tokumotion do you get a successful connection with the new version? Can you try with `verbose = TRUE`?

[2015-12-03 14:48] tokumotion commented on #31
@PMassicotte yes, I get a succesful connection.

[2015-12-03 15:02] eddelbuettel commented on #31
Yay. I smell am upcoming 1.3.1 release :smiley:

[2015-12-03 15:06] PMassicotte commented on #31
hehe definitely!

[2015-12-04 08:56] jriou commented on #31
Hi all, thank you for your time, I'll try the new version right away!

[2015-12-04 19:56] Israel48 opened #36 "not enough search volume"
Hi. After successfully logging-in every query I try, even the sport_trend example, returns the same error message:
Error: Not enough search volume. Please change your search terms.

[2015-12-04 20:03] PMassicotte opened #37 "Bug when using space in keywords"
Example:

`res <- gtrends(c("NVivo", "atlas.ti", "maxqda", "qda miner"))`

[2015-12-04 20:05] PMassicotte commented on #36
Can you try to connect using the dev version? Look at README to see how.

[2015-12-04 20:08] eddelbuettel commented on #36
Also note that accounts with two-factor authentication appear to have difficulties.

[2015-12-04 20:09] eddelbuettel commented on #37
Hm. Escape the string?

[2015-12-04 20:10] PMassicotte commented on #37
Do not know, Im refering to Bob email. Trying to replicate it now.

[2015-12-04 20:22] PMassicotte commented on #37
Interesting:

https://www.google.fr/trends/explore#q=NVivo%2C%20atlas.ti%2C%20maxqda%2C%20qda%20miner&cmpt=q&tz=Etc%2FGMT-1

If you dl the csv file it ignore the last keyword. I suspect it is related to not enough hits for the last kw.

This work:

`data <- gtrends(c("NVivo", "atlas.ti", "maxqda", "canadien montreal"))`

So it is not related to space...

[2015-12-04 20:40] Israel48 commented on #36
Hi, thanks for the promp response. I removed the package and installed it again with dev_tools. I can connect, but now queries return this error:

Error in `*tmp*`[[i]] : subscript out of bounds

[2015-12-04 21:20] #37 closed

[2015-12-04 21:25] PMassicotte commented on #36
Definitely a bug with 2-ways auth. I suggest to use a *normal* account until we find a solution.

[2015-12-04 21:27] #36 closed

[2015-12-04 22:14] Israel48 commented on #31
ups!  I have deactivated two-step verification and still get the same error

 ch=gconnect(usr=usr, psw=psw, verbose=T)
Google login successful!

Error in `*tmp*`[[i]] : subscript out of bounds

[2015-12-04 23:35] eddelbuettel commented on #31
Try creating a new account for this. Taht seems to work for everybody else.  Keep two-factor for your main Google/Gmail accounts. It is safer.

[2015-12-04 23:35] PMassicotte commented on #31
Ideas:

https://support.google.com/a/answer/1032419?hl=en

[2015-12-04 23:35] #24 closed

[2015-12-05 10:00] Israel48 commented on #31
I did as Dirk said and created a new account without two step authentication butstill can't make queries after logging in. Same subscript out of bounds mssg:

Google login successful!

Error in `*tmp*`[[i]] : subscript out of bounds

[2015-12-05 13:13] eddelbuettel commented on #31
Can you execute the steps in the `gtrends()` function one by one and see if you get any data, and at what point it fails?  Also save the data you get (_i.e._ via `saveRDS(obj, file="/tmp/data.rds")`) would be good as you could then email us the interim object `obj` via the file `data.rds`.

[2015-12-05 23:06] Israel48 commented on #31
Hi, not sure if this is what you mean, but I run this on the console:
ch<-gconnect(usr=usr,psw=psw, verbose=T)
authenticatePage2 <- getURL("http://www.google.com", curl = ch)
trendsURL <- "http://www.google.com/trends/trendsReport?"
start_date = as.Date("2012-01-01")
pp <- list(q = "facebook",
           cmpt = "q",
           content = 1,
           export = 1,
           date = paste(format(star

[2015-12-06 21:35] sebastien-foulle commented on #31
Hi,

for a French user, the message "Error in `*tmp*`[[i]] : subscript out of bounds" results from
the expressions
"schidx <- grep("Top searches", headers)
 ...
schlist <- lapply(1:length(schidx)..."
 in gtrendsR:::.processResults because schidx is equal to integer(0).

It should be replaced in France by
"schidx <- grep("Recherches les plus fréquentes", headers)
...
schlist <- lapply(seq_along(sch

[2015-12-07 00:43] tokumotion commented on #31
It works!

Thanks you for the new release!

[2015-12-07 07:38] PMassicotte commented on #31
Merci @sebastien-foulle, c'est probablement un truc de language. On va y jetter un oeil.

[2015-12-07 09:48] Israel48 commented on #31
Installed the new release and it works perfectly! thank you, guys

[2015-12-07 14:05] PMassicotte commented on #31
We need to verify what returns `gconnect` when done on  2-ways authentication account. I cant verify it since I do not have a cell phone (and proud of it!).

[2015-12-07 14:22] eddelbuettel commented on #31
I do have a cell phone and could test, especially if you send me code snippets.  I guess gconnect and an rds of the return? Other calls?

A little pressed for time too though...

[2015-12-07 20:05] sebastien-foulle commented on #31
Bonsoir Philippe,

voilà en pièce jointe un script R et les deux fichiers rds qu'il produit.
J'ai rajouté dans le script les infos sur ma version de R et sur la
session, pour info.

Cordialement
Sébastien Foulle

2015-12-07 8:38 GMT+01:00 Philippe Massicotte <notifications@github.com>:

[2015-12-08 10:08] PMassicotte commented on #31
@sebastien-foulle, pourrais-tu directement m'envoyer tout ca à pmassicotte [at] hotmail.com ? Merci d'avance!

[2015-12-08 14:58] jburkhardt opened #41 "Shiny Integration"
Thanks for the package! I'm not facing any problems. I just wanted to give you feedback and show how I integrated your package in a shiny application: https://github.com/jburkhardt/GoogleTrendsDashboard

[2015-12-08 15:01] eddelbuettel commented on #41
Thanks. Email would have been fine. Maybe even a wiki entry (if we had started to populate the wiki) btu not exactly an 'issue' so closing this.

[2015-12-08 15:01] #41 closed

[2015-12-10 12:00] Henrik-P opened #42 "Strange error: "Error in charToDate(x) :character string is not in a standard unambiguous format""
I was about to analyse the search history for "Bataclan" before and after the tragic attack, but I recieved an error.

    trend <- gtrends("Bataclan")
    # Error in charToDate(x) :
    #   character string is not in a standard unambiguous format

I then tried some searches on combinations of the substring "Bata" and different letters, which either (a) result in the same error, (b) work fine, or

[2015-12-10 13:48] PMassicotte commented on #42
Can you try the dev version? For me it works fine:

[code]

[2015-12-10 14:07] Henrik-P commented on #42
Thanks for your rapid reply. It works in the dev version.

[2015-12-10 14:12] PMassicotte commented on #42
I'm closing this.

[2015-12-10 14:12] #42 closed

[2015-12-10 17:34] PMassicotte commented on #42
Yes msg is a bit different since I made some local  changes that have not been pushed yet.

[2015-12-10 17:54] eddelbuettel commented on #42
:+1:

Shall we toss the new version at CRAN as it fixes a bunch of things, even if one or two details are still outstanding?

[2015-12-10 18:13] Henrik-P commented on #42
A minor note on the message `Search volume was too low. Data was returning aggregated monthly.`. It reads a bit strange to me, and I'm not entirely sure what it means. Could it be more explicitly connected to the `res`olution (_if_ that was the intended meaning)? Something like: `The number of hits was too low for daily (weekly) resolution. Data was returned using weekly (monthly) resolution inste

[2015-12-10 19:24] PMassicotte commented on #42
@eddelbuettel I think we should do it soon. The only thing that need to be fixed is the language thing for googlevis plotting. I think I will be able to send a PR tomorrow!

[2015-12-10 19:25] PMassicotte commented on #42
Ty @Henrik-P , I'll modify the msg.

[2015-12-11 00:01] andraderdz commented on #31
Yes, it is a language issue, i'm in mexico and google return the "resultsText" variable in spanish... How can I modify the gtrendsR package from mi computer, so I can work every time.... i do not expect to change my residential soon. I do not know much about creating R package... so I go to my directory I funny to hope for and R file to change.... how I can change it from the root? thanks for help

[2015-12-11 00:55] eddelbuettel commented on #31
This thread is not the place to teach you about R and package building.  It would probably be best if you tried some of the many (free) resources on the Internet.

[2015-12-11 15:18] #31 closed

[2015-12-13 02:27] tokumotion opened #44 "Cannot login from RStudio Server"
Tried to connect from RStudio Server but login failed. Do I need to be on a local machine for correct authentication?

    Google login failed! Check your login information.NULL

[2015-12-13 03:03] eddelbuettel commented on #44
From where you do it should have nothing to do with it -- it is still just using http/https.

What may matter is whether or not you have two factor authentication enabled as we say right in the README and and the help page:

[2015-12-13 03:05] tokumotion commented on #44
@eddelbuettel That account doesn't have 2-step auth.

Have you tried to replicate the issue?

[2015-12-13 05:33] eddelbuettel commented on #44
We use this all the time _to write this package_ and I happen to rotate between command-line, RStudio desktop and RStudio.

You, however, have failed to provide a reproducible example, so I plan to close this.

[2015-12-14 07:28] PMassicotte opened #45 "plot idea"
This is an idea from @eddelbuettel

plot googleVis in PDF. Hint: cat(unlist(G1$html), file="tmp.html") -----> print to PDF using system(...)

[2015-12-14 07:29] PMassicotte opened #46 "Add support for categories"
I will try to work on that this week.

[2015-12-15 08:07] ajlee1000 opened #48 "New Structure of Google Trends incompatible with gtrendsR"
It seems that the querry through gtrends function has become broken due to new protocols instituted at Google Trends. Please check it out.

It seems that Google rolled out an addition of some

[2015-12-15 09:10] PMassicotte commented on #48
Still working perfectly fine for me:

[code]

Provide a reproducible example.

[2015-12-15 10:45] ajlee1000 commented on #48
My apologies, I just tried my code again and it worked.

But I think it would be a cool idea to be able to encorporate Google's new data which, from what I can tell, shows a more specific query that occured in regards to the original querry

[2015-12-15 11:04] PMassicotte commented on #48
I do not know what is *Google's new data*. The package returns exactly what the Google Trends website shows.

[2015-12-15 11:15] eddelbuettel commented on #48
@ajlee1000: Do a `str(res)` where `res` is what `gtrends()` returned.  We give you more than just the default print.

I am closing this as there seems to be no actual issue.

[2015-12-15 11:15] #48 closed

[2015-12-15 16:16] jenccnej opened #49 "Error in read.table"
Hello!
Help me pleace
I'm facing with strange issue, when runing code:
[code]
Error:
[code]

[2015-12-15 16:55] PMassicotte commented on #49
What is your sessionInfo?

[2015-12-15 20:31] jenccnej commented on #49
R version 3.2.3 (2015-12-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=Russian_Russia.1251  LC_CTYPE=Russian_Russia.1251    LC_MONETARY=Russian_Russia.1251
[4] LC_NUMERIC=C                    LC_TIME=Russian_Russia.1251

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached p

[2015-12-15 20:41] PMassicotte commented on #49
Might be related to Russian characters returned by Google which are not handled correctly. Can you send us an RDS file for the object resultsText?

[2015-12-15 20:43] PMassicotte commented on #49
Could it be because of *;* instead of *,* for the CSV delimiters?

[2015-12-15 20:52] PMassicotte commented on #44
So, should we close this?

[2015-12-15 21:03] eddelbuettel commented on #44
I'd say so.

[2015-12-15 21:07] #44 closed

[2015-12-20 09:08] chiayanliao opened #50 "keywords setup"
HI,
I would like to ask some questions about the keyword setup.
Is there any (encoding) problems on keywords setup, when I type  Google Trends query keywords in  different languages ?

gtrends(ch,"アップル",geo="JP")  => it is fine in Japanese language.

gtrends(ch,"蘋果",geo="TW")  => However, it can't in Chinese.
[1] "No Trends data for 蘋果 - substituting NA series..."

But when I  go to the Google Tre

[2015-12-21 16:24] illushka opened #51 "UK searches not working"
data <- gtrends(query="2011", geo="UK")

results in "Error: Not enough search volume. Please change your search terms."

Other counties work fine though:
data <- gtrends(query="2011", geo="US")
data <- gtrends(query="2011", geo="CN")

So is the code behind the scenes incorrect? Should the geo code actually be "GB"? https://www.google.com/trends/explore#q=2011&geo=GB&cmpt=q&tz=Etc%2FGMT

[2015-12-21 16:43] eddelbuettel commented on #51
Good catch. We probably need to map 'UK' to 'GB'.

[2015-12-21 22:50] PMassicotte commented on #51
:+1:

[2015-12-21 22:51] PMassicotte commented on #50
You are right. Will give a look after holiday.

[2015-12-23 12:57] eddelbuettel commented on #51
I think I have that fixed.  PR coming in a second:

[code]

[2015-12-23 13:04] illushka commented on #51
Excellent, that is great news!

[2015-12-23 13:11] eddelbuettel commented on #51
Thanks for the bug report!

[2015-12-23 14:48] illushka commented on #51
No problem. I will wait for the update. Thank you!

[2015-12-23 17:50] #51 closed

[2015-12-29 23:08] PMassicotte opened #53 "Add support for multiple countries"
https://www.google.com/trends/explore#q=nhl&geo=US%2C%20BR%2C%20JP%2C%20IN%2C%20IT&cmpt=geo&tz=Etc%2FGMT%2B6

https://www.google.com/trends/explore#geo=US,+BR,+JP,+IN,+IT&cmpt=geo&q=nhl&cat=0-18

[2015-12-29 23:17] eddelbuettel commented on #53
Good one.  Would be nice to have too.

[2015-12-29 23:58] PMassicotte commented on #53
Yes and pretty easy to implement. Will try to do it tonight while watching Montreal vs Florida :)

[2015-12-30 00:46] eddelbuettel commented on #53
:)

[2015-12-30 20:56] #53 closed

[2016-01-04 13:52] tuliobaars opened #55 "Google Login problem in Rstudio Server"
Hi!

I'm having trouble connecting to my Google acc on gtrendsR on my RStudio Server. I run Rstudio locally in a windows machine mirrorwing the packages on my server, and gconnect only works on my windows machine. My acc is exclusive to trends and has 2-factor off.

The following message shows on my Rstudio server:

"Google login failed! Check your login information."

But in the windows machine i

[2016-01-04 14:03] eddelbuettel commented on #55
Boil it down to a scripted solution: a _minimally reproducible example_.

This isn't one, and I will have no choice but to close it as there is nothing actionable here.

[2016-01-04 14:05] tuliobaars commented on #55
Sorry, I didn't get your point. What should I do to make the issue clearer?
Thanks

[2016-01-04 14:07] eddelbuettel commented on #55
Google 'minimally reproducible example' and see eg this [SO post](http://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example)

[2016-01-04 14:07] #55 closed

[2016-01-11 20:08] sms1962 commented on #50
Hi,
It seems, that there's some problems with some characters different than latin. For example I can't use any query with special Polish characters.

When I use:

politics <- gtrends(c("Jarosław Kaczyński","Ryszard Petru"),"PL",res="week",start_date = "2015-01-01")

then, there is an error:
"Error in read.table(file = file, header = header, sep = sep, quote = quote,  :   no lines available in inp

[2016-01-20 16:37] alexmill opened #56 ""Google Login Failed""
I've seen some previous issues on this get closed due to lack of reproducibility, so I've created an account that anyone can use (below). I'm working on Windows 7, but I would be surprised if the change in platform would fix this.

[code]

I've tried logging in with many different accounts and none of them seem to work. I always get presented with a login challenge by Google during the `authentica

[2016-01-20 17:36] eddelbuettel commented on #56
It's not that simple.  When an account is in a bad state, Google keeps it there.  You need to somehow log into Google and deal with it

The package itself work. On my server just now:

[code]

As you can see with _my_ account details (set in `~/.Rprofile`) it all works.  But the account you created hit some limits already so it is of no use to use here.

There is little we can do for you here.

[2016-01-20 18:11] alexmill commented on #56
Thanks for the response. I think it's a little fatalistic to just say, "there's nothing we can do". I've tried logging in with 3 separate accounts myself and have seen at least 2 issues prior to mine with the exact same problem. Especially since this is the first step in using the package, I think it's a legitimate "issue" if many people are systematically unable to login to even try the package o

[2016-01-20 18:15] eddelbuettel commented on #56
I think it happened to me once and I got it solved by a standard web browser login and re-validation.

This issue is between the account and Google.  gtrendsR is a bystander which is why I will close this.

I'd love to help you, and I don't intend to come across as a meanie but there is nothing _operational_ for Philippe and me here.

[2016-01-20 18:21] eddelbuettel commented on #56
![image](https://cloud.githubusercontent.com/assets/673121/12458605/3ef8ad22-bf70-11e5-9298-93f6d2cdb374.png)

"They" clearly know something is wrong there.  Your idea of providing a global login for tests was a good one; sadly Google has other ideas (and probably prohibits this in the terms and services anyway).

[2016-01-20 18:27] alexmill commented on #56
Fair enough; you can close if you'd like. But even just adding some info to the error message and potential solutions seems like an operational improvement to me. I also think saying gtrendsR is a "bystander" is a little disingenuous. If the package is using Google's services in a way that it doesn't deem secure, I think that's a problem with (or at least "opportunity for improvement" for) the pac

[2016-01-20 18:29] eddelbuettel commented on #56
You continue to misunderstand or misconstruct what I said.  We don't "design" Google Authentication.  We ride this train like everybody else.  It is a given for us.

[2016-01-20 18:29] #56 closed

[2016-01-21 17:11] PMassicotte commented on #56
I will try to give a look soon. Meanwhile, your solution is more than welcome.

[2016-01-21 22:27] benryan58 opened #57 "Support for UTF-8 queries (Arabic, Chinese, Japanese, Hindi, etc.)"
Currently submitting search terms encoded in UTF-8 (if checking non-latinate language search terms) returns no results. This appears to be on account of a line in the gtrends.default function that converts latin2 queries to UTF-8 queries; queries already formatted in UTF-8 end up garbled.

I suggest adding a check around that line so that if the query is already UTF-8 then the conversion doesn't h

[2016-01-21 22:39] eddelbuettel commented on #57
Sounds like a good catch.

[2016-01-22 12:08] #57 closed

[2016-01-22 12:09] PMassicotte commented on #57
Thank you @benryan58

[2016-01-22 12:32] eddelbuettel commented on #57
No sweat. Simple things may as well pass through.

New release some time soon?

[2016-01-22 13:44] PMassicotte commented on #57
Definitely, I would try to see if this bug fixed the other issues like #50. But yes, lets do it soon :)

[2016-01-22 14:52] benryan58 commented on #57
Gentlemen, thanks for the quick response on this!

Something else that occurred to me in the bright light of day, it may be
simpler to just use *enc2utf8()* as a more flexible alternative to *iconv()*,
without the *if() *statement. That function appears to check the existing
encoding before doing the conversion, and should be flexible across all the
available encodings. I haven't fully tested it b

[2016-01-22 14:56] eddelbuettel commented on #57
Oh, that sounds nice.

And despite the long-suppressed Umlaut, I mostly live in a a 7-bit world so I don't have too much practical experience / test cases for utf8 but this sounds like it should work.

[2016-01-22 17:50] PMassicotte commented on #57
Let's give it a try soon!

[2016-01-22 18:37] benryan58 commented on #57
I've made the change on my fork to test it, and it appears to show the same
results as using the if() statement and iconv(). More importantly, it
handles German umlauts and double-s () characters correctly, too, which
iconv() seems to mess up. German terms encode as latin1, but converting
them with iconv() hiccups on those special characters; enc2utf8() works
fine.

Example:

term<-"möbel Standfuß

[2016-01-22 21:34] PMassicotte commented on #57
Seems to work great! I'll make the change tomorrow.

Ty for your help.

[2016-01-23 16:15] PMassicotte commented on #57
The following query:

[code]
Works if I use:

[code]

But will not work if I use:

[code]

For now the best option is to stick with the "old" way of converting to utf8.

[2016-01-23 16:20] PMassicotte commented on #50
Just tried:

[code]
This issue seems to be fixed with #57. I will close this.

[2016-01-23 16:20] #50 closed

[2016-01-23 16:44] chiayanliao commented on #50
Thank you for your help!

[2016-01-23 22:06] benryan58 commented on #57
Huh, the enc2utf8() version works for me, but then so does the iconv()
version. But as you say, if iconv() works then don't fix what's not broken.

Thanks for the collaboration!

[2016-01-24 06:18] chiayanliao commented on #50
Thank for your help.
But I still have some problem with it ,I could not get the data as you display.

head(gtrends("蘋果",geo="TW")$trend)
Error: Not enough search volume. Please change your search terms.

Are there other setups I need to pay attention to?

Sorry to trouble you again.

[2016-01-24 09:11] PMassicotte commented on #50
Are you sure you installed the dev version?

[2016-01-24 09:33] chiayanliao commented on #50
Yes.
The version is 1.3.1.

[2016-01-24 14:05] eddelbuettel commented on #50
That is a draw.

Both the CRAN pacage, and the current development sources on GitHub, use the same version string '1.3.1'  (which is why I often add a fourth, ie 1.3.1.1, 1.3.1.2, ... -- Hadley does something similar but starting for no good read with 1.3.1.900 or something like that.)

@chiayanliao Can you try installiing from GitHub as explained [in the README](https://github.com/PMassicotte/gtr

[2016-01-24 15:29] chiayanliao commented on #50
The way that I installed :

if (!require("devtools")) install.packages("devtools")
devtools::install_github("PMassicotte/gtrendsR")

library(gtrendsR)
gconnect(usr, psw)
head(gtrends("蘋果",geo="TW")$trend)

Error: Not enough search volume. Please change your search terms.

[2016-01-25 09:36] PMassicotte commented on #50
I can not reproduce your problem since it works fine for me.

[code]

[2016-01-25 17:06] chiayanliao commented on #50
After checking again, I get Taiwan's data.(It seem that I don't remove previous version totally. )

Thank you for helping me.

This package gives me a lot of help on data collection.

[2016-02-10 00:39] mrdevrimci opened #60 "Hebrew fonts"
I have difficulty retrieving Google Trends queries in Hebrew.
Any suggestion is welcome.
library(gtrendsR)
ch <- gconnect("user", "password",verbose = FALSE)
gtrends("זול", geo="IL", cat="all", ch, res = "week",start_date = as.Date("2004-01-01"),end_date =as.Date("2015-11-01"))
Error: Not enough search volume. Please change your search terms.

[2016-02-10 00:55] eddelbuettel commented on #60
Can you try different encodings?

[2016-02-10 07:52] PMassicotte commented on #60
This works for me:

[code]

[2016-02-10 11:26] mrdevrimci commented on #60
I still could not fix my problem. I am a rookie. I use R-studio and I may not be able to adjust the encoding properly.
Here is what I get:

x<-"מחירים"
print(x)
[1] "מחירים"

 gtrends(x, geo="IL", cat="all", ch, res = "week",start_date = as.Date("2004-01-01"),end_date =as.Date("2015-11-01"))
Error: Not enough search volume. Please change your search terms.

But, I am sure there is enough search vo

[2016-02-10 11:32] PMassicotte commented on #60
Is it working if you try:

gtrends("nhl")

[2016-02-10 11:45] mrdevrimci commented on #60
Yes, it is working perfectly.  I can retrieve multiple query data for countries like UK, USA, Canada, Sweden, Denmark. But, I do have issues for queries in Hebrew, Japanese, and Chinese.

As can be seen below, It is certainly an encoding problem.

 [1] "Í¨»õÅòÕÍ"     "¼Û¸ñ"         "Ïû·ÑÎï¼ÛÖ¸Êı" "±ãÒË"         "ÏÖ½ğ"
 [6] "¹ºÂò"         "»¨ÙM"         "±£´æ"         "¾è"           "ĞÅÓÃ"
[11] "¹¤

[2016-02-10 12:54] PMassicotte commented on #60
Most encoding problems are fixed in the dev version of the package. Can you try to install it and see if that fix your problem?

[2016-02-10 13:10] mrdevrimci commented on #60
I am working on it, thanks,
 One last question, if I want to retrieve queries for for continents, say Europe, how do I do that?
  Thanks in advance.

[2016-02-10 13:18] eddelbuettel commented on #60
If the Google backend supports it we should be able to construct a query string. We may need help.

If the Google backend does not support it then ... we cannot make ponies ride rainbows either.

[2016-02-10 13:22] PMassicotte commented on #60
I do not think you can query for specific continents.

[2016-02-10 13:23] mrdevrimci commented on #60
My bad. I thought Google provides at the continent level as well. Thanks a lot for your resonses. I will close this issue.

[2016-02-10 13:23] #60 closed

[2016-02-11 11:53] sms1962 opened #61 "How the cat parameter works?"
I was trying one simple query in R & Web with cat parameter, to compare results.

**in web:**

https://www.google.com/trends/explore#cat=0-20&q=NHL&date=1%2F2015%2012m&cmpt=q&tz=Etc%2FGMT-1

**in R** (Cat parameter "0-20" was in url):

[code]
When I checked last 3 numbers, it seems, that trend data are slightly different.
Is something wrong with my query?

[2016-02-11 13:17] PMassicotte commented on #61
The `cat` parameter is not implemented yet. I willing to do it, but I need to find a way to extract them all first. I think I will have to write a piece of code to parse the xml on the Trends website.

[2016-02-11 15:25] mrdevrimci opened #62 "Query data for Honk Kong?"
I have difficulty to retrieve any query data for Hong Kong.
Any advise?

library(gtrendsR)
ch <- gconnect("user@gmail.com", "password",verbose = FALSE)
gtrends("gold", geo="HK")
Error in read.table(file = file, header = header, sep = sep, quote = quote,  :
  no lines available in input
![image](https://cloud.githubusercontent.com/assets/4156330/12980276/6bf0c276-d0e4-11e5-9176-ab65fd25334d.png)

[2016-02-11 21:11] PMassicotte commented on #61
Closing this since duplicated from #46.

[2016-02-11 21:11] #61 closed

[2016-02-12 09:39] mrdevrimci opened #63 "Query data for multiple keywords"
Dear all,
I have dificulty to get the exact google trends query data that I retrieved from https://www.google.com/trends  with gtrendsR package for multiple search phrases.
Here is an example: I would like to get GT trends data for the search phrase "inflation rate"

       start        end United.States
1 2004-01-04 2004-01-10            59
2 2004-01-11 2004-01-17            89
3 2004-01-18 2004-

[2016-02-12 12:29] eddelbuettel commented on #63
You are restricting your query from R to `geo="US"`.

When I run this here, unrestricted at both sides, I get the same 'world wide' numbers:

[code]

and via the web interface

[code]

[2016-02-13 20:31] PMassicotte commented on #62
I found the problem. I'll update the package in the next few days.

[2016-02-14 06:45] mrdevrimci commented on #62
Thank you so much,

[2016-02-17 07:17] PMassicotte commented on #62
This is fixed in 34ffb2d.

[2016-02-17 07:17] #62 closed

[2016-02-17 07:18] PMassicotte commented on #49
Closing for lack of activity.

[2016-02-17 07:18] #49 closed

[2016-02-17 20:44] PMassicotte commented on #63
@mrdevrimci can you compare the results returned in the CSV file (from the web interface) with those of the R package?

[2016-02-17 20:45] #45 closed

[2016-02-18 12:50] #25 closed

[2016-02-18 12:51] masalmon commented on #25
Awesome!!!

[2016-02-18 13:18] PMassicotte commented on #25
:)

[2016-02-19 03:39] mrdevrimci commented on #63
Yes, I did compare them. I really need the data with geographical restrictions (Google Trends data for US, Germany , etc.).
The query data for , say Canada, for one word is same both at the google trends web page and the R-package. But they differ for queries with multiple search term. Below is the comparison of web-page and R-package data for "inflation" and "inflation rate" for Canada.
![image](

[2016-02-19 03:51] mrdevrimci commented on #63
Here is what I get for Canada for search query inflation rate (without quoation marks)
![image](https://cloud.githubusercontent.com/assets/4156330/13166076/66a63ff6-d6cc-11e5-961a-5dbab66dd03c.png)

So, in the R package the code  **gtrends("inflation rate", geo = "CA")$trend** gives you the google trends data for Canada for **inflation rate** not for **"inflation rate"**.

I appreciate any advise

[2016-02-19 07:16] PMassicotte commented on #63
Can you try

 gtrends("'inflation rate'", geo = "CA")$trend

[2016-02-19 12:33] mrdevrimci commented on #63
Unfortunately, the following codes produce exactly the same result (Google Trends data for **inflation rate **(without quotation marks) for Canada)

         start        end 'inflation rate'
628 2016-01-10 2016-01-16               48
629 2016-01-17 2016-01-23               60
630 2016-01-24 2016-01-30               59
631 2016-01-31 2016-02-06               58
632 2016-02-07 2016-02-13

[2016-02-19 13:59] PMassicotte commented on #63
Try

[code]

I just tried and it is working.

[2016-02-19 14:43] mrdevrimci commented on #63
Thank you so much.

[2016-02-19 14:43] #63 closed

[2016-02-19 17:42] sabadowlatshahi opened #67 "Daily data regardless of "res" parameter set"
Daily data regardless of "res" parameter set

[2016-02-22 07:41] PMassicotte commented on #67
Send an example.

[2016-02-22 13:46] #46 closed

[2016-02-22 14:50] mrdevrimci opened #69 "Honk Kong is not listed on data(countries) on gtrendsR 1.3.2"
I try to gather Google Trends data for Hong Kong with the latest release, gtrendsR 1.3.2, but get the following error code.

 gtrends("money", geo="HK")
Error: Country code not valid. Please use 'data(countries)' to retreive valid codes.

[2016-02-22 15:12] eddelbuettel commented on #69
Seems valid.  Maybe codes with one entry got dropped by accident?

[code]

[2016-02-22 17:02] PMassicotte commented on #69
Will give a look after dinner.

[2016-02-22 17:31] PMassicotte commented on #69
I guess countries without subcode were dropped in the previous release. This PR should fix it.

[2016-02-22 18:08] #69 closed

[2016-02-26 15:02] knodl opened #71 "Error while execution"
Hello.

Can you explain this error:
Error in read.table(file = file, header = header, sep = sep, quote = quote,  :
   incomplete final line found by readTableHeader on 'strsplit(vec[2], "\\\n")[[1]]'

The code:
library(gtrendsR)
gconnect(usr = '++++',psw = '++++')
lang_trend <- gtrends(c("data is", "data are"), res="week")

[2016-02-26 19:04] PMassicotte commented on #71
What is your `sessionInfo()` ?

[2016-02-26 19:22] knodl commented on #71
R version 3.1.2 (2014-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)

locale:
[1] LC_COLLATE=Russian_Russia.1251  LC_CTYPE=Russian_Russia.1251    LC_MONETARY=Russian_Russia.1251
[4] LC_NUMERIC=C                    LC_TIME=Russian_Russia.1251

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
[1] tools_3.1.2

[2016-02-26 21:44] PMassicotte commented on #71
This is probably due to Russian encoding. Can you save the object `resultsText` and `queryparams`  in RDS files so we can look and them and find out why the parsing is not working?

[2016-02-27 07:03] knodl commented on #71
now i have another problem with code execution. can you not close this issue for a couple of days?

[2016-02-27 08:13] PMassicotte commented on #71
OK.

[2016-02-29 07:36] knodl commented on #71
hi. can not find this objects in the package. i don't understand where i can get them. can you help, please?

[2016-02-29 12:34] eddelbuettel commented on #71
Can you please rephrase your question -- it is not clear what you are asking about.

The grendsR package implements a user-facing function `gtrends()` as well as some helpers. What do you think you are missing, and note that the package works for many other users.

[2016-02-29 15:00] PMassicotte commented on #71
I think he want to send us the data returned by gtrends so we can investigate why the parsing does not work (I think it is related to Russian encoding).

Please debug the gtrends function `debug(.processResults)`. Then, after you enter the function, save the `resultsText` and `queryparams` objects as I stated earlier.

[2016-02-29 16:10] knodl commented on #71
[https://drive.google.com/file/d/0B5v0N7syNi2xeHhoN0Rtel9TNVE/view?usp=sharing](url)

[2016-02-29 18:10] PMassicotte commented on #71
Thank you, will look at it tonight.

[2016-02-29 18:56] PMassicotte commented on #71
On my side it works fine with the data you sent.

![rplot](https://cloud.githubusercontent.com/assets/4519221/13405387/64668048-df1e-11e5-8c20-05f64ac2dce2.png)

Can you try to type:

[code]

And re-run the query?

[2016-03-01 07:24] knodl commented on #71
Still doesn't work. I've tried 3 options:

Error in read.table(file = file, header = header, sep = sep, quote = quote,  :
  incomplete final line found by readTableHeader on 'strsplit(vec[2], "\\\n")[[1]]'

Error in read.table(file = file, header = header, sep = sep, quote = quote,  :
  incomplete final line found by readTableHeader on 'strsplit(vec[2], "\\\n")[[1]]'

Error in read.table(file = fi

[2016-03-02 09:53] PMassicotte commented on #71
That's strange because everything works here for me when I am processing the data you sent to me. Difficult for us to correct it since we can't reproduce the problem.

We invite you to debug on your side and propose a patch via a PR.

[2016-03-04 13:02] #67 closed

[2016-03-05 16:37] eddelbuettel opened #76 "Return ggplot2 object"
Just had a decent and very simple idea -- we can also return the ggplot2 object for further processing:

[code]

et voila, we get a nicer (?) plot which maximizes the data-ink-ratio a little more:

![image](https://cloud.githubusercontent.com/assets/673121/13548790/02f0b15a-e2be-11e5-8970-b8c396734b23.png)

PR forthcoming.

[2016-03-05 18:02] PMassicotte commented on #76
Sounds good!

[2016-03-05 18:04] #76 closed

[2016-03-06 09:30] PMassicotte commented on #71
Closing this since we can't reproduce the issue.

[2016-03-06 09:30] #71 closed

[2016-03-07 12:24] PMassicotte commented on #76
Is it me that is still sleepy?

[code]

[2016-03-07 16:01] ravimevcha opened #79 "GTrend CSV Download"
@PMassicotte @eddelbuettel  @bquast  @jlewis91
Is there any way we can download Google Trend CSV file with this script??

[2016-03-07 17:08] PMassicotte commented on #79
Nor at the moment, but it could be an improvement.

[2016-03-07 17:18] LPalazzo opened #80 "Message if weekly data are not available"
In order to get only weekly data and discard monthly ones, I initially recognized the latter ones relying on the error message that appeared with the old versions of the package (I used TryCatch).
Now in the newest version that message seems to not appear anymore. From now on, Is there a simple way to identify when trends are not in a week resolution?

[2016-03-07 17:18] eddelbuettel commented on #79
It is trivial. Just dump what is in the returned object.  Try

[code]

The actual query data is in `res$trend` as a data.frame you can feed to `write.csv` right now.

I suggest this be closed.

[2016-03-07 17:41] PMassicotte commented on #79
I agree.

[2016-03-07 17:41] #79 closed

[2016-03-07 17:42] PMassicotte commented on #80
Can you post an example?

[2016-03-09 21:08] LPalazzo commented on #80
Sorry for the delay, I'm really busy these days.

tryCatch helps you to assign exception handlers of a function.
In previous releases the function gtrends returned an error message if the data had resolution monthly rather than weekly. I used to apply that method in order to recognize when the data were not weekly.
Here to you an example:

But now that message no longer appears, gtrends function g

[2016-03-10 09:10] PMassicotte commented on #80
Do you have a query example that returns monthly data instead of weekly data?

[2016-03-11 14:20] t-redfern opened #81 "Search term character limit"
Hi,

I'm trying to use gtrendsR to complete multiple searches of Google Trends (GT) for two search terms in the UK.

I have a group of search terms like this:

keyword<- c("ant", "cat", "dog", "horse", "mouse", "bird")

I have written a for loop that takes a pair of the search terms, runs them through GT and then lists the output trend data in an object.

keyword<- c("ant", "cat", "dog", "horse",

[2016-03-11 16:17] PMassicotte commented on #81
Can you try
'"Flood Risk Management"'

Maybe there is something with spacing that needs to be addressed.

[2016-03-11 16:43] t-redfern commented on #81
Hi,

Thank you for getting back to me.

I have tried Flood Risk Management and that's when I got the error.

I also tried "a b c" to experiment with the spacing and this worked OK. The error seemed sensitive to the number of characters.

[2016-03-11 16:46] PMassicotte commented on #81
You tried only with:

[code]

And that crash?

[2016-03-11 16:48] t-redfern commented on #81
This works:

flood<- gtrends(query="Flood Risk Management", geo = "GB")

[2016-03-11 16:48] PMassicotte commented on #81
Please give a concrete example when it does *not* work.

[2016-03-11 16:52] t-redfern commented on #81
Ok, i just ran the below code and the error message appeared. The below is copied straight out of the console.

+ DATA<- gtrends(query = c(keyword[j], keyword[j+1]), geo="GB")
+ DATATREND<- DATA$trend
+ keywordDATA<- c(keywordDATA, DATATREND)
+ }
Error in names(trend) <- make.names(paste(kw, geo)) :
  'names' attribute [2] must be the same length as the vector [1]

[2016-03-11 17:01] PMassicotte commented on #81
https://www.google.fr/trends/explore#q=cat%2C%20flood%20risk%20management&geo=GB&cmpt=q&tz=Etc%2FGMT-1

If you download the file you will see only data for *cat* is included. So it is not on our sides. Looks like Google will return only some of the requested data but I do know know why.

I will modify the code so it does not crash, but keep in mind it is not on our side.

[2016-03-11 18:05] #80 closed

[2016-03-11 18:05] #81 closed

[2016-03-12 11:29] t-redfern commented on #81
Thank you for your efforts to try to rectify this problem.

I've figured out why Google isn't returning all data. If you search for two keywords, say "Flood Risk Management" and "Taylor Swift" then TS has far more web search than FRM. This means that FRM always scores 0 in comparison to TS. The google csv generator must report this by not generating a column in the csv. This is just a silly exampl

[2016-03-16 20:26] Springbank opened #85 "Missing trimws"
Hi!
Have installed gtrendsR from CRAN into R3.1.3 (which may cause the problem), and I manage to connect via my gmail account, but when I try to run any query I've seen in the documentation, I get the following error message:

Error: could not find function "trimws"

[2016-03-16 20:32] eddelbuettel commented on #85
Please upgrade to R 3.2.4.  Or write your own / add your own `trimws()`:

[code]

You could add that to your `~/.Rprofile` -- but I'd just upgrade.

[2016-03-16 20:40] Springbank commented on #85
Thx.
Updated to 3.2.4, but got problems with Rccp when installing gtrendsR from CRAN. Log says:
  unable to move temporary installation ‘C:\Users\Magnus\Documents\R\win-library\3.2\file1b9441ea62a9\Rcpp’ to ‘C:\Users\Magnus\Documents\R\win-library\3.2\Rcpp’

[2016-03-16 20:46] Springbank commented on #85
Re-installed Rcpp and problem solved. Thank you!

[2016-03-16 20:46] #85 closed

[2016-03-16 20:56] eddelbuettel commented on #85
It's a Windows thing. You cannot upgrade packages that are loaded. I also tend(ed) to keep my library location outside of the R-versioned path to have it survive and upgrade. But then I don't use Windows anymore :)

[2016-03-17 08:31] PMassicotte commented on #85
Shall we change the DESCRIPTION @eddelbuettel ?

[2016-03-17 10:20] eddelbuettel commented on #85
Probably.

[2016-03-23 17:24] giorjet opened #86 "and/or query"
I Tried gtrendsR and I found it very usefull. but I don't know how to do an and/or query.
For example with this syntax:

    library(gtrendsR)
    library("ggthemes")
    gconnect(usr = "myaddress", psw = "mypassword", verbose = TRUE)
    dp2 <- gtrends(c("Petronas", "Castrol", "Fuchs"), geo = c("IT") , start_date = "2013-06-17", end_date = "2016-03-17")
    plot(dp2) + ggplot2::ggtitle("Castrol v

[2016-03-23 18:07] PMassicotte commented on #86
The following will return exactly the same as on the website:

[code]

https://www.google.fr/trends/explore#q=%22Petronas%22%2B%22Selenia%22-%22Petronas%20Towers%22

[2016-03-24 00:24] giorjet commented on #86
Thank you @PMassicotte ....
Another question: When you compare the interest for a keyword among more regions like in this example:

      dp14 <- gtrends(c("waterjet"), geo = c("IT", "FR", "DE", "PL") , start_date = "2015-01-01", end_date = "2015-12-31")
      plot(dp14) + ggplot2::ggtitle("Interest for Waterjet in IT FR DE and PL") +
      scale_colour_solarized("red") +
      theme_fivethirtyeig

[2016-03-24 08:05] PMassicotte commented on #86
Google do not return the absolute number of hits. From https://support.google.com/trends/answer/4365533?hl=en&ref_topic=4365599

[2016-03-24 08:05] #86 closed

[2016-03-24 09:02] giorjet commented on #86
Thanks @PMassicote,
Do You know where to find the mean search volume of different nations?

[2016-03-24 10:52] PMassicotte commented on #86
I do not understand what you mean.

[2016-03-24 11:21] eddelbuettel commented on #86
Google provides the API we tap into, no more, no less.  What you ask for is as far as we know not offered.

[2016-03-24 11:42] giorjet commented on #86
I would like to de-relativize search scores of different nations. For example: if Poland score (for a particular keyword) is 100 and Germany score is 50, but the absolute value of the total searches performed in Germany is three times as that of Poland then perhaps an estimate of the de-relativized search scores carried out in the countries for that particular word is Poland =100 and Germany =150

[2016-03-24 11:50] eddelbuettel commented on #86
We understand. We are trying to tell you that Google does not provide that data.

[2016-03-24 11:55] giorjet commented on #86
ok @eddelbuettel ... I was answering to the last question of @PMassicotte ... sorry

[2016-03-24 15:02] giorjet commented on #86
... someone seems to have the [data](http://globe.chromeexperiments.com/search)

[2016-03-25 18:00] ucb opened #87 "Special characters in search field"
Hi,
It appears that special characters inside of the search field, such as + and - (include and exclude characters) and/or characters from other alphabets are not treated by the package in the same way as by Google trends directly.
CSV files saved directly from Google Trends contain different values compared to the output of gtrendsR. (I have long search queries with pluses and minuses as well as

[2016-03-25 18:06] PMassicotte commented on #87
Without reproducible example we can not help.

[2016-03-25 18:07] eddelbuettel commented on #87
I think Philippe just provided a counterexample [here](https://github.com/PMassicotte/gtrendsR/issues/86#issuecomment-200470338).

[2016-03-26 02:14] ucb commented on #87
Guys, it appears you are right, this is a "feature" of GTrends. I was comparing the output of the package to a csv generated a couple of hours earlier (Jan-Feb 2004, so should make no difference, but it does, not sure what to do with it... Not sure if it is on a 24-hour cycle based on the time of the query or Google simply uses a random number generator to produce the data)
I did, however, find so

[2016-03-26 03:44] eddelbuettel commented on #87
I think we have a change for that in the development version.

[2016-03-26 10:44] ucb commented on #87
Is it something that is publicly available?

[2016-03-26 11:40] PMassicotte commented on #87
Yes. Read the README page.

[2016-03-29 13:17] PMassicotte commented on #87
Closing this because of lack of activity and we can not reproduce the issue.

[2016-03-29 13:17] #87 closed

[2016-03-29 13:25] ucb opened #88 "Time range comparison"
Hi again,
Is time range comparison supported? I cannot get it to work. I have tried:
`gtrends("NHL", geo="CA", start_date = c(as.Date("2004-01-01"),as.Date("2004-03-01")), end_date = c(as.Date("2004-03-01"),as.Date("2004-05-01")))`
Given the simple url structure, why don't you ask for the starting month and the number of months as in `date=1%2F2004 5m`?
and in case of a number of date ranges you s

[2016-03-29 13:28] ucb commented on #88
And one more thing: it doesn't seem to be documented: is there a way to set the time zone?

[2016-03-29 13:30] eddelbuettel commented on #88
Why do you supply two start months and two end months?

[2016-03-29 13:39] ucb commented on #88
To compare across time periods (up to 5 is supported):
(looks messy but has its uses)
http://www.google.com/trends/explore?hl=en-US#q=finance&geo=CA&date=1%2F2004%203m%2C%203%2F2004%203m%2C%205%2F2004%203m%2C%207%2F2004%203m%2C%209%2F2004%203m&cmpt=date&tz=Etc%2FGMT-2

[2016-03-29 13:59] eddelbuettel commented on #88
Interesting.  We'll have to see if you can accommodate that.

In short, "just because" Google supports it does not imply we do too.  You know, they have paid staff...

[2016-03-29 14:03] ucb commented on #88
Yes, being paid is a beautiful thing

[2016-03-29 15:26] PMassicotte commented on #88
Will have a look. This will require some testing to test what happens when you tryto specify different time lag, ex monthly and hourly data in the same require.

[2016-04-05 06:28] stochastiq opened #89 "Google Trends Category Search"
Google trends has the option of choosing categories of search, rather than only terms. For example, I can choose to view "Shopping" category without entering any term to see the trend of all shopping related terms searched on google. How do I retrieve this series via the gtrendsR API? Furthermore, is there documentation for which number corresponds to which category on Google Trends?

[2016-04-05 18:21] PMassicotte commented on #89
It is not supported at the moment, but it could be implemented simply I think.
https://www.google.com/trends/explore#cat=0-47-1190&date=1%2F2012%2012m&cmpt=q&tz=Etc%2FGMT-2

[2016-04-06 02:50] stochastiq commented on #89
Hi Phillip,

Thank you for your reply.

When I choose the "Shopping" category (without including search terms) this is the url that pops up:
https://www.google.com/trends/explore#cat=0-18&q=&geo=SG&cmpt=q&tz=Etc%2FGMT-2

Correct me if I'm wrong, corresponding to this URL, the gtrendsR command looks something like this:
shop_trend<-gtrends(query="",geo=c("SG"), cat="0-18", start_date= "2004-01-01",

[2016-04-06 06:35] PMassicotte commented on #89
If you are writing

[code]

this means that you are searching the "&" character in the shopping category. I will try to implement this this week.

[2016-04-06 13:43] stochastiq commented on #89
Ok, just as I suspected. I thought there would be a chance that it searches an empty string since the url
https://www.google.com/trends/explore#cat=0-18&q=&&geo=SG&cmpt=q&tz=Etc%2FGMT-2
shows the category search.

Anyway, thank you for your response, look forward to this extension :)

[2016-04-07 13:59] PMassicotte commented on #89
Just started to implement this.

You can try it by installing the package with:

`i

[code]

![rplot](https://cloud.githubusercontent.com/assets/4519221/14353494/99b06966-fcd9-11e5-8a40-db276f673089.png)

![rplot01](https://cloud.githubusercontent.com/assets/4519221/14353499/9d0021b0-fcd9-11e5-871f-7471ee5051a6.png)

[2016-04-11 09:23] mbannert commented on #44
I experienced the same issue on R Studio Server (running on RHEL) . Locally (OSX) it just worked without any problems. I was using the same google account in both cases. Hard to set up something reproducible cause of the credentials, but maybe this is a curl (version) issue?

[2016-04-11 09:53] mbannert commented on #44
Ok, it was not a curl issue, though. But my results might be interesting though:
Google was blocking access to my account from a unknown resource. After trial-and-error clicking through their GUI that finally let my in using curl. My local machine was listed among their usual suspects, so I did not encounter any troubles there. Yet, that I ran into another common issue

[code]

But that one has is

[2016-04-11 16:48] PMassicotte commented on #44
I am working on a branch with better parsing which do not sure this function. Meanwhile, you could write your own function as described by @eddelbuettel.

[2016-04-11 16:59] eddelbuettel commented on #44
(Actually I just displayed the `trimws()` from R 3.2.* itself.)

[2016-04-12 06:58] mbannert commented on #44
Thanks guys. It works for me now. My main motivation to post was that the issue with google blocking the account should be mentioned here, as this thread comes up pretty straight away when googling for R Studio Server specific trouble. Plus it's clear now why you don't experience it, when using local machines and servers simultaneously very regularly.

[2016-04-12 20:18] tokumotion commented on #44
@mbannert so this issue can be resolved by adding the RStudio Ubuntu server to a whitelist? Do you have the link to that config in Google? Thanks!

[2016-04-13 08:23] mbannert commented on #44
@tokumotion If you are being blocked, you get an email from google to your recovery email address. Kinda: Someone knows your password. You can follow the link and confirm that it was you who accessed the account. after two tries, they started believing and it worked for me.

[2016-04-13 11:44] ucb commented on #88
Any updates? Should I try the new version under devtools?

[2016-04-13 15:56] PMassicotte commented on #88
Nothing committed but it's coming.

[2016-04-15 17:57] lunershadow commented on #88
Could I use this package to get daily data about SVI from Google Trends ?
If it's have some way please tell me what should I do?
If I need a loop what kind of date format can be use?

[2016-04-29 13:03] benryan58 opened #90 "Wrong Error when Quota Limit Reached"
I've noticed that when running a long list of queries that the API call never results in a "Quota Limit Reached" error. Rather, it will just stop returning results after it hits the limit as if subsequent queries returned no data. Looking through the code, it looks like this piece is the culprit:

resultsText <- getForm(trendsURL, .params = pp, curl = ch)

  if (any(grep("QUOTA", resultsText))) {

[2016-04-29 14:01] PMassicotte commented on #90
Thank you for the issue. I will have a look to this. I think grep has an argument to ignore case.

[2016-04-29 14:07] eddelbuettel commented on #90
You could also do

[code]

but yes, this should do too:

[code]

It is `grep -i` on the command-line.

[2016-04-29 14:21] PMassicotte commented on #90
@benryan58 this has been fixed. Please install the dev version.

[2016-04-29 14:22] benryan58 commented on #90
Awesome, thanks for the quick response!

--
Benjamin Ryan
On Apr 29, 2016 10:21 AM, "Philippe Massicotte" <notifications@github.com>
wrote:

[2016-04-30 23:38] mamut86 opened #92 "Search interests in topics"
First of all thank you for this great package! I have a small question. Google Trends offers on the website to retrieve the search interest in topics, i.e. a feature to measure the overall search interest for a keyword.

Is there a way in gtrendsR to obtain topic queries? As far as I can see Google has for each search topic a specific query name. If you look for example after "London" in the topic

[2016-05-01 18:00] PMassicotte commented on #92
I think this is a duplicate of #89.

Try the dev version
`devtools::install_github("PMassicotte/gtrendsR", ref = "queries-on-categories")`

[2016-05-01 18:16] mamut86 commented on #92
Thanks for the fast reply. I had a look at this issue yesterday but I think it is different from what I had in mind. Please correct me if I am wrong. To me issue #89 looks into the categories, however, my question goes for searches that use the beta topic function of Google. This is when several search queries are combined by Google algorithm. Hence, the data could theoretically stem from differen

[2016-05-01 18:56] #90 closed

[2016-05-01 19:01] PMassicotte commented on #92
I am not sure what does this beta think. If I visualize compare both trend they look quite similar.

https://www.google.com/trends/explore#q=LOndon

https://www.google.com/trends/explore#q=%2Fm%2F04jpl&cmpt=q&tz=Etc%2FGMT-2

I will try to look at it this week.

Cheers

[2016-05-04 08:06] stochastiq commented on #89
Hi Phillip,

Thanks for getting back to me. It appears that I must not be doing
something right, because I still get the error:
Error in names(trend) <- make.names(paste(kw, geo)) :
  'names' attribute [1] must be the same length as the vector [0]

I reinstalled the packages, and used the code:

library(gtrendsR)
user <- "XXXXX"
psw <- "XXXXX"
gconnect(user, psw, verbose = TRUE)
shop_trend<-gtrend

[2016-05-04 18:18] PMassicotte commented on #89
You have to install this specific branch if you want to try it. You have to type it in R.

[code]

[2016-05-09 08:50] samarv commented on #92
Hey,

Thanks for this great package.

I am also facing the same problem.

Really appreciate you taking the time and solving this problem.

just waiting for the solution

[2016-05-09 20:35] sharek commented on #92
I had the same need for this and found a workaround (which can also be used for a more robust solution).
First an example of how different topics can lead to different results. Consider a search comparing Chris Evans the actor in Captain America and Chris Evans the new presenter of BBC's Top Gear: [https://www.google.com/trends/explore#q=%2Fm%2F058s44%2C%20%2Fm%2F01nxts%2C%20Chris%20Evans&cmpt=q&t

[2016-05-10 04:08] samarv commented on #92
Thanks Sharek!

I really needed that! and that solved the problem! for now! just wondering, why doesn't google return a list of possible topics and entities!

anyways,
thanks again! I really appreciate you taking the time and responding!

Cheers,
keep up the good work!

[2016-05-10 06:39] PMassicotte commented on #92
I do not think there is an easy solution at the moment unless we find a way to get these "subcategories".

[2016-05-10 10:58] mamut86 commented on #92
Thanks Sharek, this is excellent! It allows at least to track upcoming data in a more automated way, which helps a lot for me.

Maybe when the data of freebase.com got migrated to Wikidata there is a way in accessing those categories? I am sorry that I am not really familiar with this database at all.

[2016-05-10 15:34] sharek commented on #92
@mamut86:  I've been gathering the relevant topic strings by running a query in gtrends and grabbing the string from the query URL.  That works for a small number of queries, certainly for my needs. I think your suggestion for a more automated way makes a lot of sense, but it would add a lot more complexity to the package.  In fact, I would suggest that something like that be created as its own pa

[2016-05-26 19:52] dap2rb commented on #89
Hi PMassicotte,

thank you for your package. Could you clarify two issues:

1) How to install the branch. I type: "devtools::..." in R and it gives me the following response: "Error in loadNamespace(name) : there is no package called ‘devtools’"
2) How do I download items for the cities. I tried maimi with geo=US-FL-528 and it did not work

thank you a lot

[2016-05-26 21:36] eddelbuettel commented on #89
For Pete's sake please don't hijack random other threads.  Please delete the message above, @dap2rb .

[2016-05-30 06:43] PMassicotte opened #94 "Missing ISO 3166-2 codes"
For example, these codes are not in the list:
- https://fr.wikipedia.org/wiki/ISO_3166-2:FR

Maybe write a function to parse Wikipedia to update our list.

https://fr.wikipedia.org/wiki/ISO_3166-2https://fr.wikipedia.org/wiki/ISO_3166-2

[2016-06-01 10:33] ucb commented on #92
@sharek : Do you do it manually or do you have a code that does it for you (extract the generated URL)?

My list of topic is a bit long, so I would hope for an automated solution to generate "/m/XXX"

[2016-06-01 12:32] sharek commented on #92
I do it manually generally.  If you are going to extract from URL's, at least some of the process will have to be manual, especially because you are limited to five topics at a time.  It should be really simple to write a regex or parser to chunk the urls into the topic codes.

If you have a really large number, try looking at the freebase DB- you could (or at least used to be able to) download a

[2016-06-01 15:54] ucb commented on #92
Dear @sharek: thank you for a quick response. It turns out that the Knowledge Graph Search Api is out.
You need to register your google account to this api and get a key as described here:
[https://developers.google.com/knowledge-graph/#sample_request](url)
If your search terms are of regular types (in your case you will also need description: Actor v Presenter), you can pick only codes that match

[2016-06-01 15:57] ucb commented on #88
May I chime in again with a question about news on this issue?

[2016-06-03 12:33] selesnow opened #95 "Error in gtrends function on Windows 10."
Hi!
When i try use gtrends i get error:

`sport_trend2 <- gtrends(c("nhl", "nba", "nfl"))`

Error in read.table(file = file, header = header, sep = sep, quote = quote,  :
  incomplete final line found by readTableHeader on 'strsplit(vec[2], "\\n")[[1]]'

`sessionInfo()`

R version 3.3.0 (2016-05-03)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1]

[2016-06-03 12:40] eddelbuettel commented on #95
That is probably a local issue; your Google access may be limited or something else.  There is structural reason Windows 10 would be different.

[2016-06-03 12:55] selesnow commented on #95
maybe you can fix problem after then:

in debug function i get erroe after `res <- .processResults(resultsText, queryparams)`

Browse[3]> n
debug: authenticatePage2 <- getURL("http://www.google.com", curl = ch)
Browse[3]> n
debug: trendsURL <- "http://www.google.com/trends/trendsReport?"
Browse[3]> n
debug: pp <- list(q = query, cat = cat, cmpt = cmpt, content = 1, export = 1,
    date = date, geo

[2016-06-03 20:35] cdshikida1 opened #96 "Strange behavior when it comes to Brazil"
Ok, I don't know what's happening, but I tried the simple test: copy and modify. Using this from the documentation:

library(gtrendsR)
dp <- gtrends("Donald Drumpf", res="7d")
plot(dp) + ggplot2::ggtitle("The Drumpf") + ggplot2::theme(legend.position="none")

Ok here. Then, I tried:
gtrends("chocolate", geo = c("BR"), start_date = "2004-01-01", end_date = "2016-06-01")

And it returned:
Error in a

[2016-06-04 09:55] PMassicotte commented on #95
Probably  related to Russian encoding of the returned text.

[2016-06-06 06:28] PMassicotte commented on #95
Please send me the `resultsText` object returned by the query. This must be related to #71.

[2016-06-06 06:31] PMassicotte commented on #96
You will have to give us more information because I can't reproduce the issue.

[code]

![rplot](https://cloud.githubusercontent.com/assets/4519221/15813645/f5a7ad40-2bc0-11e6-86dd-7aa65e39e613.png)

[2016-06-06 06:32] PMassicotte commented on #88
@ucb No eta at the moment sorry.

[2016-06-06 06:52] selesnow commented on #95
You can download [resultText](https://drive.google.com/file/d/0B1rgddqnM9XJMzF2TFJPaEluOUk/view?usp=sharing) file.

[2016-06-06 08:35] PMassicotte commented on #95
Can you also return `queryparams` please?

[2016-06-06 09:02] cdshikida1 commented on #96
ok. such as?
On Jun 6, 2016 3:31 AM, "Philippe Massicotte" <notifications@github.com>
wrote:

[2016-06-06 09:18] PMassicotte commented on #96
You have to debug a minimum and tell us where the bug is happening...

[2016-06-06 09:27] cdshikida1 commented on #96
Thanks, I am no such an expert in debugging, however I will give it a try.

[2016-06-07 13:33] selesnow commented on #95
@PMassicotte  you can go [link](https://drive.google.com/open?id=0B1rgddqnM9XJb2I1TGRjTEc5SFE) for download queryparams.RData file.

[2016-06-08 11:14] PMassicotte commented on #95
@selesnow As I understand it crashes in `.processResults`? It is strange because it is working fine if I am using both objects you sent me.

[code]
I suspect the issue is related to the Russian local encoding you are using based on your `sessionInfo()`.

[2016-06-08 15:15] KristaLoose opened #97 "trimws function"
Hi,

When I try to use the gtrends function (with any combination of parameters), I get an error message saying "Error in .processResults(resultsText, queryparams) : could not find function "trimws"."  I'm not sure if this is an internal function or a package dependency, but either way the function isn't working!

Thanks,
Krista

[2016-06-08 15:17] #97 closed

[2016-06-08 18:23] KristaLoose opened #98 "missing trend data?"
Hi,

I'm running a loop over searches for multiple people and dates.  Most of the searches seem to be going fine, but this one is returning an error:

[1] "Thomas Carper"

[1] "William Frist"

[1] "2005-07-28"

[1] "2006-07-28"

Error in read.table(file = file, header = header, sep = sep, quote = quote,  :
  no lines available in input

If I take out either the start or the end date, I get results

[2016-06-09 14:04] PMassicotte commented on #98
Strange, it is working on my side.

![rplot](https://cloud.githubusercontent.com/assets/4519221/15932384/cbb29a2a-2e5b-11e6-8da2-2a44d4a4d358.png)

[2016-06-09 14:18] KristaLoose commented on #98
I reached my quota for searches shortly after this, so I'm wondering if it
had something to do with that.  Though it seems unlikely!  I think I'm
still within a 24 hour quota limit period, so I can't check at the moment,
but will do so as soon as I can investigate again.  Thanks for the response!

On Thu, Jun 9, 2016 at 10:04 AM, Philippe Massicotte <
notifications@github.com> wrote:

[2016-06-09 18:17] KristaLoose commented on #98
Working for me now - can't explain it!

[2016-06-09 18:17] #98 closed

[2016-06-19 18:00] carloscinelli commented on #96
Try this:

[code]

[2016-06-19 18:24] carloscinelli commented on #96
The problem is in the `.processResults` function. It uses `as.POSIXct` without specifying the timezone, which then uses the user's timezone as default.

[2016-06-19 18:52] eddelbuettel commented on #96
I _cannot_ reproduce the error, making me hesitate about #99:

[code]

Ubuntu 16.04; everything current; gtrendsR from CRAN (I think).

[2016-06-19 18:59] carloscinelli commented on #96
I am using a Mac and I think cdshikida may be using windows. But I would guess the problem should happen irrespective of the OS.

#99 fixed the problem in my machine

[2016-06-20 06:16] PMassicotte commented on #96
@cdshikida1 Can you test if this fixes your problem as well?

[2016-06-20 10:36] cdshikida1 commented on #96
let me see here.

Obrigado / Thanks for your time and attention.

Claudio D. Shikida

Esta mensagem pode conter informação confidencial e/ou privilegiada. Se
você não for o destinatário ou a pessoa autorizada a receber esta mensagem,
não poderá usar, copiar ou divulgar as informações nela contidas ou tomar
qualquer ação baseada nessas informações. Se você recebeu esta mensagem por
engano, por favo

[2016-06-20 10:55] carloscinelli commented on #96
If he error did not happen for both of you the problem is probably elsewhere!
I will try to investigate it further.

[2016-06-20 21:04] cdshikida1 commented on #96
Carlos Cinelli solved it! I installed his version and now it works! Thanks!!

Obrigado / Thanks for your time and attention.

Claudio D. Shikida

Esta mensagem pode conter informação confidencial e/ou privilegiada. Se
você não for o destinatário ou a pessoa autorizada a receber esta mensagem,
não poderá usar, copiar ou divulgar as informações nela contidas ou tomar
qualquer ação baseada nessas inf

[2016-06-20 21:05] cdshikida1 commented on #96
Cinelli's version worked! Thank you all, for the time and attention. Again, thank you Carlos!

[2016-06-20 21:07] carloscinelli commented on #96
Guys, I could no pinpoint why the error does not happen in your machine, maybe it is a Linux thing?

Are you able to test it in other OS? I will try to test in a Linux machine but I don't have one right now.

[2016-06-21 08:07] PMassicotte commented on #96
I would be surprised if it was a Linux thing. Probably related to regional settings.

[2016-06-22 09:41] cord-otten opened #100 "read.table error for regional search"
Hi! Thanks for the great package.

I get the following error term when searching for Germany, but the query works worldwide:

`gtrends("Gregs Tagebuch  Echt übel", geo = c("DE"))`

The regional search does work on the google website.
Any advice is greatly appreciated.

[2016-06-22 14:31] PMassicotte commented on #100
It is working on my site.

[code]

![rplot](https://cloud.githubusercontent.com/assets/4519221/16270501/cb1c5d22-3896-11e6-8d36-90cdd621520c.png)

[2016-06-22 14:34] eddelbuettel commented on #100
could also mean basic authentication issue and not being able to run _anything_.  We can't tell.

[2016-06-22 17:39] carloscinelli commented on #96
Update: I have tested on a Linux here (Ubuntu 16.04) and, just like with dirk, the error did not happen. Are you able to reproduce the error in a Windows or Mac machine?

[2016-06-22 19:10] cord-otten commented on #100
Thanks for the quick response.
If authentication would be an issue, I would expect that the global search would not work either. It does work, though.
I tried:
- updating R (and R Studio) to the latest versions online
- connecting via VPN to a place in the US
- creating a new google account

Unfortunately to no avail. I am running out of ideas.

[2016-06-22 20:54] eddelbuettel commented on #100
Agreed on global search as a baseline.  As for ideas, maybe resetting you 'locale' and country-specific settings?  Under Linux I can do that per-session...

[2016-06-23 04:44] BERENZ commented on #89
Dear All,

my students (@ KasiaaZ and @MrKrzysztof) prepared list of categories that are used in Google Trends (included in MS Excel file google_trends_categories.xlsx).

Maybe you would like to include this list into package vignette?

Best, Maciej

[google_trends_categories.xlsx](https://github.com/PMassicotte/gtrendsR/files/329217/google_trends_categories.xlsx)

[2016-06-23 06:17] PMassicotte commented on #89
Hi @BERENZ

That sounds like a good idea. How did you retrieved it? I downloaded the json category file from Google a while back, but ran out of time to process it.

[2016-06-23 06:24] BERENZ commented on #89
Hi @PMassicotte

It wasn't automated...I think they just used a copy-paste method.:)

Do you have a link to download json file? I could write a script to parse the categories.

[2016-06-23 12:49] PMassicotte commented on #89
@BERENZ

[categories.json.zip](https://github.com/PMassicotte/gtrendsR/files/329957/categories.json.zip)

You can read them using:

[code]

[2016-06-23 15:59] BERENZ commented on #89
@PMassicotte  thanks! I will provide do it tommorrow.

Where did you find this file? Is it somewhere online?

[2016-06-23 16:41] PMassicotte commented on #89
@BERENZ I extracted it from my Chrome browser using the dev console while browsing Google Trends web site.

[2016-07-01 02:08] diegocgaona commented on #96
The error occurred to me too (i'm in Brazil, using Windows 7).
I installed the pull #99 and it worked fine (devtools::install_github("PMassicotte/gtrendsR#99"))

Thanks!

[2016-07-01 08:27] PMassicotte commented on #96
@eddelbuettel should we accept the PR?

[2016-07-01 13:43] eddelbuettel commented on #96
Do we know if the underlying data is actually in UTC?

This is a really complicated topic. UTC is generally a good idea, but things should also work (as they do for you and me and many others) when TZ is not set.  I don't fully understand the issue, and while #99 looks small, I am hesitating a little,

If this was really required how on earth did we get this far?   Would testing for `Sys.getenv("T

[2016-07-01 13:44] eddelbuettel commented on #96
@diegocgaona What happens if you
- take the code from GitHub
- do not apply #99
- but set `TZ=UTC` in your shell, or system, or use `Sys.setenv(TZ="UTC")` before running your tests?

[2016-07-01 22:15] diegocgaona commented on #96
@eddelbuettel I uninstalled the #99, and installed grom Github. After this I use Sys.setenv(TZ="UTC"), the function worked fine.

[2016-07-01 23:21] eddelbuettel commented on #96
Thanks for doing the extra check.  And so I do not think we need the patch.  Maybe we need to test for `TZ` being unset?  These issues get OS-dependent quickly, unfortunately.

[2016-07-03 16:31] carloscinelli commented on #96
Hi, Dirk, I did not understand your proposal. You are going to change the user's `TZ` for the whole session instead of just changing the `TZ` inside the function?

[2016-07-03 16:39] eddelbuettel commented on #96
If it is unset, we can set it avoid issue with an absent timezone.  (Did we ever prove that this casuses it?)

If it set, overriding it to UTC is probably not the right choice and not backwards compatible.

That said, most of the return data is daily so it should not matter.  But I don't think we (or at least I) fully understand what is going on.  My preference is for small changes that do not cha

[2016-07-05 13:56] diegocgaona opened #101 "It’s possible to use a token from Google?"
It’s possible to use a token from Google, as we can use in Google Analytics API or Adwords API?

Using my password, I receive a notification every time I run the script (for security reasons).

Thanks, Diego.

[2016-07-05 16:48] PMassicotte commented on #101
What kind of notification do you receive?

[2016-07-05 17:24] diegocgaona commented on #101
Something like:
New Login
Your account xxx@gmail.com was used to login...

Do you recognize this access?

[2016-07-05 18:04] eddelbuettel commented on #101
I have the feeling that 'verbosity level' option on your account you need to toggle. I don't think this has anything to do with us.

[2016-07-05 22:29] diegocgaona commented on #101
Yes you are right.
If Gtrends don't have a API that use token, I really need to change my setup or don't mind the emails.

Thanks!

[2016-07-05 23:28] #101 closed

[2016-07-06 17:47] MarkEdmondson1234 opened #102 "Package can't load when only Env vars used for user/password"
I put similar to below in my home directory `.Renviron` file:

[code]
(note no options set)
I restarted R, and could reach them via `Sys.getenv("GOOGLE_USER")` etc.

However, when I tried to load the library, I got this:

[code]

When I set the options myself from the environment vars, it works:

[code]

The help file seems to indicate you can use either environment or options, and its all working

[2016-07-21 21:42] rajeshwarimajumdar opened #103 ""Google login failed! Check your login information.NULL""
I am trying to use the gconnect function but I'm getting the following error:

"Google login failed! Check your login information.NULL"

I've used this function multiple times in the recent past but it's suddenly stopped working.

I'm using the following to run the function:

user="reuwpi@gmail.com"
pass = "honeyfarms"
gconnect(user,pass)

Any help would be much appreciated.

[2016-07-21 22:29] eddelbuettel commented on #103
Please search in the [closed issue tickets](https://github.com/PMassicotte/gtrendsR/issues?q=is%3Aissue+is%3Aclosed).  This has been discussed numerous times, and is likely due to your account settings.

For what it is worth, I use a distinct account for these queries...

[2016-07-21 23:18] rajeshwarimajumdar commented on #103
I did look at the previous posts.

I tried multiple accounts (personal, friends', and the above throwaway), all of which had 2-step verification turned off. I got the same error each time. For what it's worth, I also tried different computers on different networks.

Is there anything else I can try?

[2016-07-22 01:02] eddelbuettel commented on #103
Hm, now I am stumped.

[2016-07-22 06:16] PMassicotte commented on #103
Same. I have problem to log with my account too. I will investigate it.

[2016-07-22 09:33] omartvit opened #104 "Problems with the authentication!"
Hi!,

I have been several days running a script on R, in which I use data from Twiteer and Google. From yesterday in afternoon, the data from google can't be got.
I get the follow message: Google login failed! Check your login information.NULL
I have tried it with different counts, and even, with different IPs (at my home, at my work, ...). And I allways have the same message. Due to, I think that

[2016-07-22 10:56] omartvit commented on #103
I have just read this issue!.
Sorry, but I have opened a new issue with the same doubts two hours ago.
I have just tried to log, but I still have the same problem.
Thanks so much to investigate it!,
I look forward to hearing your opinion. Best.

[2016-07-22 18:46] PMassicotte commented on #104
See #103

[2016-07-22 18:46] #104 closed

[2016-07-22 18:50] PMassicotte commented on #103
Looks like Google changed something with authentication. I have no clue at the moment.

[2016-07-22 19:01] eddelbuettel commented on #103
:cry:

I looked briefly this morning but could only notice the '400' return.  That's the trouble with unofficial access points.  Sometimes they just go.  Also no clue from here, and have not heard if other Google Auth sites have similar issues...

[2016-07-24 09:01] MrLoh commented on #103
I'm encountering the same issues. Very sad. Any way we could help?

[2016-07-25 07:48] omartvit commented on #103
Hi!,

I have been working on this during the weekend, and I have found this:
https://christophriedl.net/2013/08/22/google-trends-with-r/
This authentication works, I have thought that It could give you a clue.

Thanks!

2016-07-22 20:50 GMT+02:00 Philippe Massicotte <notifications@github.com>:

[2016-07-25 08:05] flovv commented on #103
@omartvit

thanks for sharing. I just tried the code and it does not work for me.
The authentication seems to work fine but if you try to call the google trends api, you do not receive the results.

Best,
florian

[2016-07-25 08:09] omartvit commented on #103
@flovv

It's right, the code doesn't work. You can't get the data from google, but
the authentication process looks like it works. Maybe, it could be a way to
solve the authentication process in gTrendsR.

Best.

El 25/07/2016 10:05, "flovv" <notifications@github.com> escribió:

@omartvit <https://github.com/omartvit>

thanks for sharing. I just tried the code and it does not work for me.
The auth

[2016-07-25 09:50] PMassicotte commented on #103
I will be on it tomorrow to find a fix for this. This is quite annoying!

[2016-07-25 13:26] PMassicotte commented on #103
I found out that the python version is still working.

https://github.com/GeneralMills/pytrends

I have been able to run this code and get results.

It is related to cookies.

https://github.com/GeneralMills/pytrends/blob/master/pytrends/pyGTrends.py#L76

[2016-07-25 14:03] eddelbuettel commented on #103
Nice bisection to another language/project!

[2016-07-26 16:01] omartvit commented on #103
So... That means that it is not possible to fix the gTrendsR package? :(

Thanks.

El 25/07/2016 16:03, "Dirk Eddelbuettel" <notifications@github.com>
escribió:

[2016-07-26 18:30] MrLoh commented on #103
No, it means that it is fixable. Just needs someone to really look into it. I really don't have time to look into it at the moment. But hopefully someone else will.

[2016-07-26 19:16] PMassicotte commented on #103
Everything is fixable. Just need to find the time to do it.

[2016-07-26 19:17] PMassicotte commented on #103
@eddelbuettel using curl seems a good idea.

[2016-07-26 19:22] eddelbuettel commented on #103
Also may be worth reaching out to the folks having worked with Google auth from R.  Aren't there some other packages?   We could ping Jenny Bryan ...

[2016-07-26 21:39] MarkEdmondson1234 commented on #103
@eddelbuettel I guess I count as one of those as maintainer of [googleAuthR](https://cran.r-project.org/web/packages/googleAuthR/index.html) but that is all using the OAuth2 official authentication.

I think `httr` (that uses `curl`) could handle it by POSTing in the login as it handles cookies etc, but if needs be perhaps a more heavyweight solution is [`rvest`](https://github.com/hadley/rvest/is

[2016-07-27 10:45] MrLoh commented on #103
I had a quick look at rvest. The following seems to work:

[code]

So the `session` object would have to be passed to the `gtrends` function which should then use `rvest::jump_to` to get the response

Obviously there is more to be done here, but I hope this is a good first step into the right direction.

There are also still some strange errors coming back from the login (`client error: (411) Leng

[2016-07-27 11:28] PMassicotte commented on #103
Nice one @MrLoh I think we could use this.

[2016-07-27 11:33] eddelbuettel commented on #103
But pretty-please in functional programming without the bloody pipe, right  ;-)

[2016-07-27 11:34] PMassicotte commented on #103
I will spend the afternoon with curl and see if I can make it.

[2016-07-27 11:42] eddelbuettel commented on #103
Nothing wrong using rvest I personally would just write the same code differently as I don't find the piping all that intuitive.  But style is personal so ...

But yes you can probably also shadow the behaviour and maybe get by with one (or more) fewer depends.   All very good.

_With many eyeballs all bugs a shallow ...._   Really nice when that works so thanks again @MrLoh!

[2016-07-27 13:22] PMassicotte commented on #103
[Issue seems to be fixed.](https://github.com/PMassicotte/gtrendsR/tree/login-fix)

[2016-07-27 13:41] heck1 commented on #103
Works fine now :)

thanks to all the contributors

Also, this post made me signup here

[2016-07-27 14:26] MrLoh commented on #103
Hi thanks for fixing :) I wouldn't use piped code in the package either, but for explorative coding it is ideal. Way less adding and deleting parentheses all over. Thanks a lot for integrating it.

[2016-07-27 18:01] omartvit commented on #103
Hi!!...

I'm a beginner in all this, therefore I'm not be sure to understand the
solution. So, the solution is the code shared by Tobias or I have to
install the package again?.

Thanks so much for fixing it!!!...

El 27/07/2016 16:26, "Tobias Lohse" <notifications@github.com> escribió:

[2016-07-27 18:07] PMassicotte commented on #103
@omartvit You can wait a bit before we finish last details and then you install the dev version.

[2016-07-27 18:08] omartvit commented on #103
Thaaanks!!! :)

El 27/07/2016 20:07, "Philippe Massicotte" <notifications@github.com>
escribió:

[2016-07-27 18:38] MrLoh commented on #103
Nice everything seems to work again 😃

----

Only it's become a bit ugly to call gconnect now, since it doesn't return silently anymore and creates all these warnings.

Warnings:
[code]
Out:
[code]

wrapping the `rvest::submit_form` calls in `suppressWarnings(suppressMessages(...))` and using `invisible(session)` at the end again would maybe be prefferable

[2016-07-27 18:43] eddelbuettel commented on #103
Actually it just bombed for me:

[code]

but I won't have time now / next few hours to look more closely.

[2016-07-27 18:48] PMassicotte commented on #103
I ll fix it in few minutes.

[2016-07-27 18:49] MrLoh commented on #103
strange, maybe it's a particular problem on your maschine. I could install the package fine (macOS 10.11.6, R v3.3)

[2016-07-27 19:13] MrLoh commented on #103
Another funny site effect is that a `cookies` file is created in the directory now. But a nice sideeffekt is that the annoying emails from google about suspicious login activity are gone.

[2016-07-27 19:24] PMassicotte commented on #103
Good finding @MrLoh. I do not know `rvest` package that much but I will try to find a solution.

[2016-07-27 19:27] MrLoh commented on #103
I also just learned about `rvest` today, seems pretty nice though. It mainly provides a pretty wrapper around `httr` (also from hadley), so maybe looking directly into `httr` makes most sense.

But most important is that the crawling works again at all, so 🍻

[2016-07-27 20:45] eddelbuettel commented on #103
Still an unhappy camper here:

[code]

[2016-07-27 20:53] caiogoncalves commented on #103
i'm still getting the error

[2016-07-27 20:59] MrLoh commented on #103
@caiogoncalves did you reinstall the package with `devtools` ?

[2016-07-27 21:00] MarkEdmondson1234 commented on #103
Working for me:

[code]

One suggestion when working with `httr`stuff is to add a flag so you can run the commands with `verbose()` in the calls - helps a lot with debugging.

[2016-07-27 21:11] caiogoncalves commented on #103
@MrLoh i have installed the new gtrendsR-master.
how i can know if this package have the devtools

[2016-07-27 21:18] eddelbuettel commented on #103
Ignore my message above -- I just needed to login from the throwaway Google account used for gtrendsR and ok the computer I was using.   All good at my end.  :cake:

[2016-07-27 22:23] MrLoh commented on #103
@caiogoncalves the prefered way to install is by running the code from the Readme.

[code]

what do you mean by `i have installed the new gtrendsR-master`, how did you install it?

[2016-07-28 07:15] PMassicotte commented on #13
Maybe we could consider to close this now.

[2016-07-28 07:23] PMassicotte commented on #103
@eddelbuettel I think everything is under control now. Let's release it?

[2016-07-28 16:11] rlourenco04 opened #106 "Split Data by month"
Is there a way to get data split by month?

I know I can get data split by week when I set a period greater then 3 months, but I don't know if I can get data by month

[2016-07-28 16:28] PMassicotte commented on #106
Can you do it via the official Google trend page? If not we can't either.

[2016-07-28 22:27] fmerhout commented on #94
Similarly, including US DMAs in the code list would be very useful. They don't seem to be part of ISO 3166-2 but are accessible through GT.

Potential sources: [here](https://developers.google.com/adwords/api/docs/appendix/cities-DMAregions) or [here](https://support.google.com/richmedia/answer/2745487?hl=en).

[2016-07-29 11:42] heck1 commented on #106
Actually, should be quite simple, just catch data for say a year and aggregate by month?

[2016-07-29 11:45] eddelbuettel commented on #106
Can you provide a pull request?

[2016-07-29 12:24] PMassicotte commented on #106
@heck1 As I understand it, you are asking for post-processing of the data. It should be done on your side.

[2016-07-29 12:30] #106 closed

[2016-07-29 14:01] rlourenco04 commented on #106
Analysing data, It seems that the monthly data displayed by google trends actually is the max of the daily (Or weekly) Data..

[2016-07-30 08:47] omartvit commented on #103
Hi guys!,

I was wondering if it is already available the final version to work with
Google Trends in R.
I'm a beginner and I don't sure how I have to continue.

Thanks so much!!!

El 28/07/2016 09:23, "Philippe Massicotte" <notifications@github.com>
escribió:

[2016-07-30 10:52] MrLoh commented on #103
@omartvit run:
[code]

[2016-07-30 13:15] PMassicotte commented on #103
I think we can close this issue now. Thanks everyone who helped!

[2016-07-30 13:15] #103 closed

[2016-07-30 14:23] lyzerana commented on #103
hey guys,
great work!
Question, can you also include the patch for the "queries-on-categories" please?
Thanks!!

[2016-08-01 12:06] PMassicotte opened #107 "JSS?"
@eddelbuettel do you think is it publishable in JSS? Should we start writing?

[2016-08-01 12:09] eddelbuettel commented on #107
It is _definitely_ R Journal material.  We may get thrown out of JSS but we may as well try.  And we clearly have more than a simple downloader.

Public Service Announcement: Turn-around times at JSS are still pretty high.  Think years.   Guilty as charge as I am a pretty slow AE there too...

[2016-08-01 19:25] M3003 opened #108 "Incorrect message "Error: Not enough search volume"?"
Hello,

After installing the 1.3.4 update, I got (in my opinion) strange error messages for some of my queries when I try to group search terms. I did not encounter this problem using the previous version of gtrendsR.

To illustrate my problem, the following example. There is no problem when I run

[code]

However, when I change the query to `gtrends(query = c("cloud + smart lighting"))` I receive

[2016-08-01 19:58] eddelbuettel commented on #108
Seems fine to me.  You are intersecting two terms with little between them.  All others work:

[code]

I have *definitely* seen that very error in the same very circumstances (eg also when playing with different time resolutions).

When I run the 'faulty' query at the Google Trends website, the second part is silently dropped.  It would be nice if we could do that, but I don't see how -- we just s

[2016-08-02 14:49] MrLoh opened #109 "global country variable"
Something is wrong with how the variable `gtrendsR::country` is used in this package. Calling `gtrendsR::gtrends("test")` doesn't work directly, because `countries` is not available and also if you create a variable `country` in your global namespace the functions fall with cryptic error messages related to the wrong structures of `countries`.

I'm not sure what the right way to handle this is, bu

[2016-08-02 16:46] eddelbuettel commented on #109
I have some vague memory about fighting with this once too.  We may have been too clever by half with the `data/` directory and corresponding flags in DESCRIPTION.   We could make it more explicit to be safe.

[2016-08-02 19:17] PMassicotte commented on #109
`grendsR::gtrends("test")` will definitely not work if the package is not attached.

As for the country thing, the same thing will occurs if you override existing base R variable such as `mtcars`.
[code]

[2016-08-03 08:06] MrLoh commented on #109
Yeah of course you can override package variables but it shouldn't destroy the functionality of the package. I'm not sure wether this sis a flaw of R or of your package design, but at least functions shouldn't depend on variables in the global namespace. I'm a little confused why the package can't find the country variable if it's called directly, but that's a clear indication that things are not

[2016-08-03 08:11] MrLoh commented on #109
The book says the following:

— [R packages](http://r-pkgs.had.co.nz/data.html#data-sysdata)

This seems to be the usecase here, or not?

[2016-08-03 08:17] PMassicotte opened #110 "Tidy?"
Should we reformat the output as this?

[code]

[2016-08-03 08:19] PMassicotte commented on #109
@MrLoh Well, we want the user to be able to see the list of available countries. So it is for both the user and internal functioning. I guess we should place the data at two different places. I will work on that.

[2016-08-03 11:37] #109 closed

[2016-08-03 11:50] eddelbuettel commented on #110
Oh, gosh, I had to squint hard to get at what you wanted here as

[code]

wasn't quite sure what you suggested.  In short, "could do" -- but what about more complex queries like the recent 'cloud and big data'.  At some point it gets silly to repeat this.   A more compact form would be to set an attribute via `attr()` .... but then all this _is_ already in the `res` object returned.

So I don't re

[2016-08-03 11:55] PMassicotte commented on #110
The only thing that "bug" me is `nhl.CA` where we have both keyword and country in the column name.

BTW, just google made some changes and we can now download CSV by chuck.

https://www.google.com/trends/explore?date=all&q=nhl

[2016-08-03 12:09] eddelbuettel commented on #110
Gotcha.  In that case ... shall we just override that with maybe a fixed word `count`, or `hits`, or put the (possibly long multi-word) query there?

Download by chunk ... is better for really large result sets?

[2016-08-03 14:58] MrLoh commented on #109
Awesome thanks for your dedication to continuously improve this package.

[2016-08-03 15:26] eddelbuettel commented on #109
What do you mean?

[2016-08-03 16:07] neimad128 commented on #108
Hi all!
First, thank you all for this beautifully crafted code!

I also have a similar (yet perhaps different) problem: when I download using gtrendsR high numbers of keyword trends (around 1,600), the program starts sending seemingly false error messages:

While on the Google Trends website, the queries that failed are still downloadable under the same google account/IP. This is true for all quer

[2016-08-03 21:43] MrLoh commented on #109
Well I haven't tested it yet. But I think it's expected that functions can be called without loading the package. So I hope that `gtrendsR::gtrends` works now.

[2016-08-04 01:17] eddelbuettel commented on #109
Don't forget that you also need a connection object for which you need a package environment.  So maybe this is a different issue than we think it is?

[2016-08-04 10:29] EMammen commented on #90
i have maybe a stupid question but my R does not contain the commannd getFrom. Do i need to install a package?

[2016-08-04 11:16] eddelbuettel commented on #90
That would be `getForm()` and per [a search at RDocumentation,org](http://www.rdocumentation.org/packages/RCurl/versions/1.95-4.8/topics/postForm) it is from `RCurl`.

Current versions of gtrendsr no longer have this function:

[code]

Please update.

[2016-08-04 13:25] PMassicotte commented on #110
Alright, I will work on that (the tidy thing).

I will make more sens for request list this:

[code]

[2016-08-04 13:57] PMassicotte opened #112 "Introduce gprop"
https://www.google.com/trends/explore?date=all_2008&geo=CA&gprop=images&q=nhl,nfl

[2016-08-04 14:00] eddelbuettel commented on #112
What is gprop?  The images?  Please explain :)

[2016-08-04 14:01] PMassicotte commented on #112
Sorry :)

Go here:

https://www.google.com/trends/explore?date=all&q=nhl

And select in the "right-ish" box another category. Got it?

[2016-08-04 14:01] eddelbuettel commented on #110
Absolutely!   I like 'hits' as a column number, and a 'long-to-wide' exporter helper may be useful.

But this grumpy old man doesn't fall for every seasonal flavour of the tidyverse so just get off my lawn...

[2016-08-04 14:03] PMassicotte commented on #110
Hehehe do fear my friend, I di it like this:

[code]

[2016-08-04 14:10] eddelbuettel commented on #110
No school like the old school. Using `stats::reshape` is the sign of a true craftsman :)

[2016-08-05 09:13] PMassicotte commented on #108
@neimad128 Can you provide some examples?

[2016-08-05 11:26] PMassicotte commented on #102
@eddelbuettel Do you have an idea?

[2016-08-05 12:50] eddelbuettel commented on #102
Nope.

Any sane operating system (ie not the one from Redmond) sets `$HOME`.  R, just like any sane program in the Unix tradition, then reads dotfiles from `$HOME`.  (It also reads from current directory, see `help(Startup)` but that is a digression.)

Now, what do I do?  I actually (by convention) set this in `~/.Rprofile` but mostly ... because I already set other things there  The again I just

[2016-08-05 12:51] #89 closed

[2016-08-05 12:51] #110 closed

[2016-08-05 12:51] eddelbuettel commented on #108
See above in my answer.  "Cloud + smart lighting" did it for me (then).

[2016-08-05 14:21] #112 closed

[2016-08-08 17:02] neimad128 commented on #108
Hi @PMassicotte, all keywords give the same answer to me once the quota limits are attained, e.g.

...and the x object is not created.

To sum up my problem, which has all appearances of a quota limit problem:
- once an unknown number of queries (at least hundreds) has been done with gtrends, every new query gives a "volume error" message
- changing google accounts does not resolve the problem (or

[2016-08-08 17:35] neimad128 commented on #108
Hi @eddelbuettel , using the combine function did not resolve my problem unfortunately, i.e.
gtrends(query=c("keyword")) gives the same volume error than gtrends(query="keyword")...

[2016-08-09 06:44] PMassicotte commented on #108
I think the quota verification needs to be re-addressed since we changed how we connect and interact with Google. When this append, could you send us the `session` and `resultText` objects?

I also think that Google only blocks programmed queries after quota is reached. They must be able to detect if a query is made manually or via the web interface. Hence, after a certain number of queries they w

[2016-08-09 11:10] eddelbuettel commented on #108
That's a fair hypothesis.  We do something slightly differently, they may see that and respond differently.

[2016-08-09 12:02] neimad128 commented on #108
Could this possibly be related to cookies or IP? I just queried the same keyword with the same google account at the same time on two different machines, but with two different IPs though. On the machine I was getting error messages, I still get error messages. But on the other machine/IP, it works like a charm. If you want, you can check the `session ` object of the failing machine and the succes

[2016-08-09 17:18] tomfbush commented on #108
Not sure if this helps at all, but I was wondering if it's a combination of IP address _and_ the user agent declared by the method of accessing the site. That could explain why a web browser on the IP that fails using gtrendsR still works (i.e. Google can easily detect automation).

It says in [this post at SO](http://stackoverflow.com/a/31406678/4421532) that the standard user agent is clearly id

[2016-08-10 12:15] neimad128 commented on #108
I guess Google has gone clever when it comes to quota limitations. Not only there is these quota limits that block every new query from gtrends, which interpret them as "volume errors", but apparently there is also something new: quota limitations that block randomly some queries when the queries are sent by gtrends with a too fast pace.

For instance, here are the results of some random queries I

[2016-08-10 12:20] eddelbuettel commented on #108
Nice work.  We are free-riding a public-facing 'not quite API' here -- which is also quite popular -- so maybe this is just par for the course?

[2016-08-10 15:26] PMassicotte commented on #108
The `[1] "Not enough search volume. Please change your search terms."` might be a false error. With the recent changes it might be something. @neimad128 do you know after how many queries this starts occurring?

[2016-08-11 09:05] heck1 commented on #108
I've used the pseudo-API quite extensively recently (Monday-Today) and I have several insights:
a ) If queries are made in too fast pace, after a certain number of pulls, you will get the "Quota reached" error message with an 24h IP ban.
b ) This error used to occur after ~ 30 to 40 "false" attempts (with some sort of error, because for the date / time / searchterm the volume was too low or some e

[2016-08-11 12:09] PMassicotte commented on #108
Possible solutions:

- Randomize the `user-agent` after few queries (@tomfbush)  .
- Add a _sleeping_ parameter to the `gtrends()` function as suggested by @heck1 and @neimad128 to prevent too fast queries.

[2016-08-17 08:52] AronHartveld commented on #103
Hi all,

Thanks for the package, really helped a lot with my thesis. However I'm trying to use the package again and I keep getting errors. I read the discussion above carefully, but still get the same error message after running the readMe code. The error is:

Error in curl::curl_fetch_memory(url, handle = handle) :
  Number of redirects hit maximum amount

I've tried the following solutions:
- r

[2016-08-17 08:59] PMassicotte commented on #103
Are you getting this error when you are connecting with `gconnect()`?

[2016-08-17 09:02] AronHartveld commented on #103
yes

[2016-08-17 09:08] PMassicotte commented on #103
It is difficult for me to debug because I just tested it and it is working fine. Lets see if others are also experiencing the problem.

[2016-08-30 05:06] hgodinez opened #116 "undefined columns selected"
Hi, after updating the library to version 1.3.4 , the query gtrends is returning an error

[code]

[code]

[2016-08-30 08:25] PMassicotte commented on #116
Interesting because I can't reproduce the problem.

[code]

[2016-08-30 10:20] eddelbuettel commented on #116
Works for me too using current GitHub sources:

[code]

and equally well when I 'downgrade' to 1.3.4 from CRAN:

[code]

[2016-08-30 11:00] jamesbn opened #117 "Small mismatch between trend numbers on Google Trends and gtrendsR"
Hi,
I've come across some interesting differences between the numbers obtained when downloading .csv files of trend data directly from the Google Trends website and those obtained by running an identical query through gtrendsR.

**Example query**
The query on gtrendsR was:
`gtrends("bitcoin", start_date = as.Date("2013-01-01"), end_date = as.Date("2013-03-31") )`
The query term and dates were repl

[2016-08-30 11:53] eddelbuettel commented on #117
Maybe you can dig in the code and examine what we receive from Google. I doubt we alter anything. But it may be worth checking.

[2016-08-30 13:27] neimad128 commented on #117
Hi @jamesbn , yes Google Trends data may vary over time, retroactively, although in very small proportions usually. The correlation coefficient in your first tab, between the two series is pretty high (>.99), so the information is essentially the same.

Sometimes there can be much larger changes in a trends, due to changes in the Google Trends algorithms, but usually it's small. I guess that in yo

[2016-08-30 13:32] neimad128 commented on #108
Hi @PMassicotte , after some tests, the (supposedly) false quota errors occur after 200 queries (it was around 1,600 in the good old times). And the ban lasts for 24h. Plus it's clear for me that Google targets both IP and google account. So it's not sufficient to change account during the ban and staying on the same IP. It is not sufficient either to change IP and keep the same account...

Thanks

[2016-08-30 14:03] jamesbn commented on #117
Thanks @neimad128 for the thoughtful response.

That all makes good sense to me and I hadn't considered the interesting possibility that Google may deliberately add noise to the data.

That theory would certainly make sense in relation to two observations:
(a) I did my pairs of data extractions within minutes (or even seconds) of each other
(b) It doesn't seem logical that subsequent events should

[2016-09-03 17:15] NormalMario opened #118 "Category Codes missing"
Hi, guys,
  I can look for the country codes in data("countries") but where are the category codes?
data("categories") doesn't work. No hint in the reference manual.

Thanks for any help!
  Mario

[2016-09-05 06:16] PMassicotte commented on #118
[code]

[2016-09-05 06:16] #118 closed

[2016-09-05 10:44] NormalMario commented on #118
Sorry, my fault.
I was referring to the categories in cat = ...
In the reference there's written:
- cat  A character denoting the category, defaults to "0" -
This category is not further explained.
Thanks a lot!
  Mario

[2016-09-05 13:33] PMassicotte commented on #118
You should use either the value of `code` or `subcode`.

[2016-09-06 11:44] lfilipiuk opened #119 "Error when using gconnect"
Hello,
I am new to Google Trends scraping and fairly new to R as well. I have installed this package using.
install.packages("gtrendsR")

Then I typed
library(gtrendsR)
after this I got a message from R:
_Creating a generic function for ‘toJSON’ from package ‘jsonlite’ in package ‘googleVis’_

usr <- "xxxxx@gmail.com"
psw <- ""xxxxx"

gconnect(usr, psw)

When I try to connect a get the following e

[2016-09-06 12:15] nikloynes opened #120 "Can't connect to google account - Error in curl"
Hi there,

I just downloaded the gtrendsR package, intending to do some data collection for a project I'm currently working on. First off, thanks for writing this, I've been looking for something like this for a while. As it happens, I sadly can't seem to connect to google. I'm running R 3.3.1 on Ubuntu 16.04. When I run the `gconnect()` command, I get the following error message:

[code]

Any ide

[2016-09-06 12:20] PMassicotte commented on #119
Hard to tell, for me it is working fine:

[code]

[2016-09-06 12:21] PMassicotte commented on #120
I think @eddelbuettel got this error message one and this resolved soon after.

[2016-09-06 12:23] nikloynes commented on #120
You're right. I just restarted R and re-loaded the package and now it's working. Thanks so much for the quick reply!

[2016-09-06 12:37] #120 closed

[2016-09-15 11:16] csuji opened #121 "Error in gconnect when passing in user/password via environment variables"
If I pass in user/password via env vars and not function arguments I get following error:

[code]

Because getOption evals to NULL and NULL!="" evals to logical(0)
I have fixed this in my branch.

[2016-09-15 19:40] eddelbuettel commented on #121
Confirmed.  I'll file a simpler PR in a minute.

[2016-09-15 19:44] #121 closed

[2016-09-20 12:45] howchik opened #124 "Error in assign("session", session, envir = .pkgenv) :"
Hello,

I am getting an error from the gconnect method:
Error in assign("session", session, envir = .pkgenv) :
  object '.pkgenv' not found

Where should I assign or get that variable?

Thanks

[2016-09-20 13:10] howchik opened #125 "Getting Error on Installation devtools::install_github("PMassicotte/gtrendsR")"
devtools::install_github("PMassicotte/gtrendsR")
Downloading GitHub repo PMassicotte/gtrendsR@master
from URL https://api.github.com/repos/PMassicotte/gtrendsR/zipball/master
Error in eapply(ns_env(pkg), force, all.names = TRUE) :
  cannot open file 'C:/Program Files/R/R-3.2.2/library/gtrendsR/R/sysdata.rdb': No such file or directory
In addition: Warning message:
In eapply(ns_env(pkg), force, all

[2016-09-20 13:42] eddelbuettel commented on #124
That is literally impossible because [of this line](https://github.com/PMassicotte/gtrendsR/blob/master/R/init.R#L1) -- unless you did something "unusual" by not installing correctly.

As there is nothing reproducible here I am closing this.

[2016-09-20 13:42] #124 closed

[2016-09-20 13:43] eddelbuettel commented on #125
Works here:

[code]

[2016-09-20 13:44] #125 closed

[2016-09-21 15:33] misteliy commented on #119
Hi, I have a similar issue getting:

 gconnect("XXX","XXX")
**Error in curl::curl_fetch_memory(url, handle = handle) :
  Peer certificate cannot be authenticated with given CA certificates**

how can I pass ssl.verifypeer = FALSE?

cheers

--yannick

[2016-09-21 18:46] nandofernandesneto opened #126 "Strange issue while testing the Code"
Hello everyone.

I've successfully created a google account to login with google trends from this application and at first glance, everything works fine.

But, when I run the following code snippet:

sport_trend <- gtrends(c("nhl", "nba", "nfl"))

I get the following error:

Error in as.POSIXlt.character(x, tz, ...) :
  character string is not in a standard unambiguous format

But still, If I do:

[2016-09-21 18:51] nandofernandesneto commented on #126
I've just realized that the plot command was working because the sport_trend data was included in the package ... If I change the variable name to "sport_trends" instead of "sport_trend", it won't work...

sport_trends <- gtrends(c("nhl", "nba", "nfl"))
Error in as.POSIXlt.character(x, tz, ...) :
  character string is not in a standard unambiguous format

[2016-09-22 08:03] PMassicotte commented on #126
Maybe related to #96

[2016-09-22 12:13] nandofernandesneto commented on #126
If I set the Timezone to UTC, it works.

Sys.setenv(TZ="UTC") before running the code.

Thanks a lot for your attention.

Best Regards,
Fernando Fernandes

PS: Congratulations for your initiative.

[2016-09-23 14:01] LonginusHeart opened #127 "Google login failed! Check your login information"
Hello!

I can't seem to get my login to work. My internet is fine and I've tried making a brand new google account but I'm still seeing this issue.

Any advice? I'm relatively new to R

[2016-09-23 14:37] eddelbuettel commented on #127
Please search the _closed_ issue tickets for similar ones.

We have discussed possible reasons a dozen times.  "Works for us" and others.

[2016-09-23 14:53] LonginusHeart commented on #127
Cool. Thank you!

[2016-09-24 14:35] MarkEdmondson1234 commented on #102
this is solved by this https://github.com/PMassicotte/gtrendsR/issues/121

[2016-09-24 14:35] #102 closed

[2016-09-24 14:36] eddelbuettel commented on #102
Good catch, thank you.  Should have smelled the bacon when you first reported this.

[2016-09-26 14:39] ThisRay opened #128 "some problems in "geo = c("US")" & start_date"
Hello,

I have two questions about using gtrends():
### 1. geo = c("US")

I can use gtrends() to search `query = "big data"` in many countries, e.q., `geo = "TW", "JP", "KR"`, but can't search in "US". I know there are  some keywords of some countries can't be searched on GoogleTrends, but "big data" in "US" is fine (GoogleTrends link: [https://goo.gl/1YedQ6](https://goo.gl/1YedQ6)).

Here is the

[2016-09-26 14:45] eddelbuettel commented on #128
Maybe you just constrain it too much:

[code]

[2016-09-26 14:51] ThisRay commented on #128
Thanks!

But the error message still appears.
Maybe I can't search these keywords just in my country or IP ...?

[code]

[code]

[2016-09-26 17:53] PMassicotte commented on #128
For me this is working well:

[code]

[2016-09-26 17:55] PMassicotte commented on #128
Just looking by your output, I can see that you are not using the latest version of the package.

[2016-09-27 11:01] ThisRay commented on #128
Thanks!

I use this to install the latest version of gtrendsR, but the "US" error still appears.
[code]

in R:
[code]

Here is some information of my R environment:
[code]

[2016-09-27 12:06] ThisRay opened #129 "different result between gtrendsR and GoogleTrends"
Hi,

I found the results of gtrendsR and GoogleTrends are very different.

Google Trends: [data science](https://goo.gl/a3j8JD) (geo="CH"): 79, 69, 91, ...
Google Trends: ["data science"](https://goo.gl/relsyD) (geo="CH"): 72, 48, 47, ...
The complete result of these code in: [Google Sheets](https://goo.gl/lBTxFy)

[code]

or

[code]

Almost all the value are different, and the `mean()` is differe

[2016-09-27 12:15] PMassicotte commented on #128
This still work fine for me.

[code]

I do not have ideas why it is not working on your side.

[2016-09-27 12:29] PMassicotte commented on #129
I think Google is reworking their API. Keep in mind that we provide a non-official way to get the data. If Google change their backdoor it can affect the results.

[2016-09-29 04:53] ThisRay commented on #129
OK, I think the problem is in "trendsReport" and GoogleTrends.

Thanks!

[2016-09-30 02:44] ThisRay commented on #128
I use the web address to download the .csv file and observe it. I think maybe it is the .csv parsing problem, and it just happened in Chinese .csv file, because of it use some "(", ")", "-" in city's name.

[TW link](https://www.google.com/trends/trendsReport?q="big%20data"&geo=TW&content=1&export=1&date=09/2015 12m)

[US link](https://www.google.com/trends/trendsReport?q="big%20data"&geo=US&conte

[2016-09-30 06:19] PMassicotte commented on #128
I am not sure to understand. CSV are either using "," or ";" as separators.

[2016-09-30 07:20] ThisRay commented on #128
Sorry,
Those links are from "trendsReport", so the files you download are still English version, it don't have the parsing problem. And the parsing problem is from only "," separator in city's name, no matter with "(", ")", "-". The problem is in Chinese version file.

Here is the Chinese version file in Google Drive: [Google Drive link] (https://drive.google.com/file/d/0B6d0yVZDgLwcSDUzc0pjWEhDcU

[2016-10-02 09:38] antaldaniel commented on #108
I just want to confirm what **neimad128** wrote above. I was building a code where I wanted to query the same search term over several geo locations, to see the difference.  I was simply looping the query over 20 locations, and got the message after 10.   Individually each query worked.

Having read this issue discussion, I slowed down the loop.  The error message pops up in relation to time. 11 q

[2016-10-03 01:15] kenchiujs opened #130 "Problem : In strsplit(resultsText"
After I downloaded the new version last month, couldn't download data any more. I have gotten the same data before, then there's no difference with the code.
Everything I've done such as restalled, update and try the old version all can not solve this problm.
thx, fou ur suggestions

library(gtrendsR)
library(googleVis)
library(XML)

![image](https://cloud.githubusercontent.com/assets/22582112/190

[2016-10-03 20:12] emiroman opened #131 "Proble with the example"
Hi, how are you?
I'm tring to test the example you put in the descriptcion but nothing.
When i put this instruccion in the command line:
**sport_trend <- gtrends(c("pga", "nhl", "nba", "nfl"))**

I got this error:
Error in as.POSIXlt.character(x, tz, ...) :
  **character string is not in a standard unambiguous format**

I'm a noob with R and maybe it's a simple error, but i have no idea how to fix

[2016-10-03 20:30] eddelbuettel commented on #131
"Works for me"

[code]

[2016-10-05 09:05] PMassicotte commented on #131
@eddelbuettel Just to let you know I am in the process of moving back to Canada. So I will start looking at these issues in about 2 weeks when I am fully installed :)

[2016-10-06 22:47] antaldaniel commented on #56
I think that here is a good answer.

[http://stackoverflow.com/questions/13465269/suspicious-sign-in-prevented-heroku-amazon-aws-gmail-smtp](url)

1. In a web browser (perhaps Chrome/Incognito), log into your Gmail account (the one via which you're trying to send email from your app).
2. In another browser tab, open https://accounts.google.com/DisplayUnlockCaptcha -- and follow the steps.

Honestl

[2016-10-07 00:15] eddelbuettel commented on #56
I use a separate account for gtrendsR queries.

[2016-10-16 18:32] nomadofthehills opened #132 "Error: 'ch' arguments has to be result from 'gconnect()'."
Hello,

When I try to do the example provided in the readme, I get the error in the title:
Error: 'ch' arguments has to be result from 'gconnect()'.

Below is my code. I can connect successfully, but then I can't progress.

Google login successful!
An object of class "CURLHandle"
Slot "ref": <pointer: 0x0000000002fe16e0>

Error: 'ch' arguments has to be result from 'gconnect()'.

Error in plot(spo

[2016-10-16 23:44] PMassicotte commented on #132
[code]

[2016-10-17 06:43] double-y opened #133 "Strange result for Rising Searches and Top Searches"
I see these but aren't the results strange?

[code]
- As for Rising.searches.for.google
  - the column names should be the first row
  - 6th column should be `translate google       +3800%` but separated strangely
- As for Top.searches.for.google
  - the column names should be the first row

[2016-10-17 11:28] eddelbuettel commented on #133
Yes, we seem to have broken '3,800%' into two entries.

[2016-10-19 01:17] nomadofthehills commented on #132
Thank you.

Why do I need to include the ch when none of the examples I can find elsewhere include that?

[2016-10-19 01:20] eddelbuettel commented on #132
I guess many of take advantage of the fact that you pass the username and password via R config files -- I happen to `~/.Rprofile` to set it in `options()` -- which then means that you can auto-connect.  And as a side-effect a `ch` handle is stored in the package environment.  So no need to assign.

But if you pass username and password explicitly, you need to store the handle _somewhere_. Hence `

[2016-10-19 01:20] #132 closed

[2016-10-19 01:22] nomadofthehills commented on #132
Thank you. However, I now get the following error:

Either way, when using the code provided above, the error message changes to:

Error in names(trend) = c("start", "end", tolower(query)) :
'names' attribute [5] must be the same length as the vector [3]

[2016-10-19 13:27] PMassicotte commented on #132
I understand that the connection now works?

[2016-10-19 16:25] nomadofthehills commented on #132
Yes, should I start a new thread?

[2016-10-19 18:56] PMassicotte commented on #132
What your query looks like?

[2016-10-19 20:17] nomadofthehills commented on #132
The one used in the example and suggested above:

sport_trend <- gtrends(ch, c("nhl", "nba", "nfl"))

So, my code now looks like this:

Google login successful!

[1] "Substituting sparse Google Trends (monthly) with NA series"
Error in names(trend) = c("start", "end", tolower(query)) :
  'names' attribute [5] must be the same length as the vector [3]

[2016-10-20 10:37] SoIllEconomist opened #134 "Getting an error with gconnect()"
I've been using `gtrendsR` for a while and everything has been great.
But as of today (10/20/2016), I've been getting the following error:

[code]
[code]

I've recently updated `curl`, I'm not sure if this may have caused the issue or not.

[2016-10-20 13:02] PMassicotte commented on #134
Sometimes this error comes from *nowhere*. Can you retry?

[2016-10-20 13:08] PMassicotte commented on #132
Can you try:

[code]

[2016-10-20 13:10] PMassicotte commented on #127
Closing this.

[2016-10-20 13:10] #127 closed

[2016-10-20 13:10] PMassicotte commented on #119
Closing this because I can't reproduce the problem.

[2016-10-20 13:10] #119 closed

[2016-10-20 13:14] PMassicotte commented on #130
This works fine with v1.3.5

[code]

[2016-10-20 13:27] eddelbuettel commented on #134
Or rather: comes when Google thinks you had too many queries recently.  Some users report success with a 10 second wait.

[2016-10-20 14:27] nomadofthehills commented on #132
Using "sport_trend <- gtrends(session = ch, c("nhl", "nba", "nfl"))"

results in "Error: 'ch' arguments has to be result from 'gconnect()'."

[2016-10-20 14:35] eddelbuettel commented on #132
That would indicate that your `ch` object is not what the code expects, and not the return from said `gconnect()` function.

Not reproducible for us.

[2016-10-20 15:00] nomadofthehills commented on #132
What do you suggest I try?

Perhaps the

 "I guess many of take advantage of the fact that you pass the username and password via R config files -- I happen to ~/.Rprofile to set it in options() -- which then means that you can auto-connect"

 you suggested above?

How do I do the above? I don't quite understand.

[2016-10-21 04:39] SoIllEconomist commented on #134
Seems to be something with my Google account. Waited more than a day for it to reset, but it didn't work. However, it works fine with another account.

Thanks for your replies!

[2016-10-21 11:22] #134 closed

[2016-10-24 02:08] kenchiujs commented on #130
I only find the v1.3.4 from the website :
 https://github.com/PMassicotte/gtrendsR/releases or
 https://cran.r-project.org/web/packages/gtrendsR/index.html

also change the google account that used before,and still get the result like the graph.
![image](https://cloud.githubusercontent.com/assets/22582112/19631641/94cd30c4-99d1-11e6-94ff-39aef616cb1f.png)

I'll expect the v1.3.5 can solve the prob

[2016-10-24 02:33] eddelbuettel commented on #130
Sorry, what is your point?  Screenshots demonstrate little and are [not reproducible](http://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example).

[2016-10-24 04:49] kenchiujs commented on #130
Parden, it's the same question with the

[2016-10-24 04:58] kenchiujs commented on #130
Forgive me, it's about the result show "In strsplit(results Text..." as the title
I merely wish to solve the "error" with gtrendsR, any query is unuseful for my computer.

gtrends("CNN")
Error: Not enough search volume. Please change your search terms.
In addition: Warning message:
In strsplit(resultsText, "\\n{2,}") :
input string 1 is invalid in this locale

PMassicotte said I can solve the prob

[2016-10-24 12:54] PMassicotte commented on #130
Look at the README and install the dev version of the package and try again.

[2016-10-25 18:33] kenchiujs commented on #130
I only find the v1.3.4 from the website :
 https://github.com/PMassicotte/gtrendsR/releases or
 https://cran.r-project.org/web/packages/gtrendsR/index.html

also change the google account that used before,and stil get the result
like the graph.
[image: 內置圖片 1]

whether the month of half already gone, I feel so happy with your helping.

2016-10-20 21:14 GMT+08:00 Philippe Massicotte <notifications@

[2016-10-25 18:49] eddelbuettel commented on #130
Gee. Please.

Philippe was kind enough to direct you to [this very README](https://github.com/PMassicotte/gtrendsR/blob/master/README.md) which is also the _landing page of our very repo_.

It states:

Hope this helps.

[2016-10-26 00:06] cstein24 opened #135 "gconnect() Issue"
Team -

Know that you guys have answered this question multiple times and thank you for your patience.

I have attempted a multitude of solutions here but none seem to work. Is there any other solution to get gconnect() to work other than:
1) Creating a new gmail account (done this twice already)
2) Updating the package and/or computer (using version 3.3.1 of R, 1.3.4 of gtrendsR, updated my mac t

[2016-10-26 00:31] cstein24 commented on #135
Of course after posting this message I figure out the solution. My gmail was defaulting to my University email, so had to sign out of it completely and then re-sign in with the proper gmail. Though, tried signing in and out of the proper gmail with no luck before. Seems that even being signed in to the University email caused the issue.

Thanks!

[2016-10-26 01:16] #135 closed

[2016-10-26 19:09] essine opened #136 "gconnect() and gtredns() in a web application at shinyapps io server"
Using gconnect() and gtredns() functions I've created a web application to compare Google Trends time series.

It works well when installed locally (https://github.com/essine/Gtrendscomp).
Remote version fails to retrieve google data (https://essine.shinyapps.io/Gtrendscomp/).
Google Trends considers shinyapps io server as an unknown device and prevents sign in attempt.

Is there any possibility t

[2016-10-30 19:53] PMassicotte commented on #94
Just found this:

http://www.ip2location.com/free/iso3166-2

Looks like everything is there.

[2016-10-30 20:42] eddelbuettel commented on #94
Nice.  It is actually pretty important to have _code_ generate data sets.  Else our work is not reproducible.

[2016-11-01 04:23] samarv commented on #136
well, if you allow sign in from less secure devices in your google security settings, it works. I tried this on heroku servers. but thing is, even after signing in, you reach your quota limit just after 30 or so requests. atleast in my case.

[2016-11-01 07:59] samarv opened #140 "What are Querying limits?"
Hey peeps,

Recently, I have started to get,
Error : Not enough search volume. Please change your search terms.

Earlier I used to get you have reached your quota limit after 1500 or 2000 queries in a day. Now, just after 15-20 queries I get the above mentioned error.

So, i am querying at a high rate and in parallel, any ideas about what should be rate of querying.
and what are the daily limits?

[2016-11-01 11:30] eddelbuettel commented on #140
There are previous answers to this under the 'Closed Issues'.  A 10 sec windows has been mentioned, and 24 hour periods.

[2016-11-01 13:08] essine commented on #136
Dear smarv,
Thank you for the tip. Unfortunately, it does not work. My google account settings include
Allow less secure apps: ON and 2-Step Verification Off. Moreover I report to google that
shinyapps io server is my device but google still prevents sign in attempts.

Probably it works on heroku server. Is it possible to install a shiny application on heroku server?

[2016-11-01 19:03] #94 closed

[2016-11-02 02:24] samarv commented on #136
Hey,

Shiny used to work on Heroku, I dont know if this build pack is updated , check out https://github.com/btubbs/heroku-buildpack-shiny

and, I know where you are, with the login situation. I faced the same thing! I read something about allowing access (other than less secure app). I did that and it worked afterwards. I tried finding that link! but cant find it! Find that link! it will work.

[2016-11-02 02:36] samarv commented on #140
Yeah, But something seem to have changed from google's side. It all worked fine at the time, last issue was raised.

So, yeah. I mean, new querying limits.

and, this time, I get
Error : Not enough search volume. Please change your search terms.
rather than quota limit reached error!

[2016-11-02 04:30] eddelbuettel commented on #140
We don't know either.  Google does not document this as far as we know.

[2016-11-02 04:30] #140 closed

[2016-11-02 04:31] eddelbuettel commented on #136
You have not demonstrated a reproducible shortcoming in gtrendsR itself so I suggest we close this.

[2016-11-02 15:51] s-Nick-s commented on #103
Hello all!
Found this discussion after encountering the same error:
Error in curl::curl_fetch_memory(url, handle = handle) :
  Number of redirects hit maximum amount

Tried everything written here with no results.
Would appreciate any advice.
Thanks!

[2016-11-02 16:55] PMassicotte commented on #103
Just retry few times.

[2016-11-02 17:35] s-Nick-s commented on #103
You are right! It works now for some reason! Thank you!

[2016-11-02 19:48] essine commented on #136
Dear smarv,

Thank you for the reference. I close the topic because Dirk and Philippe find it not relevant.

[2016-11-02 19:48] #136 closed

[2016-11-03 13:14] devinharia opened #142 "Getting monthly data rather than weekly"
Hi!

When I manually search for a term on Google Trends from 2004, the data that comes is in a monthly format. Even when I download the csv file, what I get is monthly data.  But when I do the same on gtrendsR, the data comes up in a weekly format. Is there any way to fix that? I need monthly data for several places.

Thanks for the help! :)

[2016-11-03 13:23] devinharia opened #143 "Error in getting data"
Hi!

I want the data of 'pizza delivery + chinese delivery + sub delivery + indian delivery + burger delivery' after the following filters - Location: Alabama, Date Range: 1/1/2004-12/31/2015, Category:Food & Drink (71).

Now, when I do this manually on Google Trends, I get the data easily. But on using gtrendsR, I get this error: 'Error: Not enough search volume. Please change your search terms.'

[2016-11-03 13:27] PMassicotte commented on #143
Please provide a reproducible example.

[2016-11-03 13:27] PMassicotte commented on #142
Please provide a reproducible example.

[2016-11-03 13:50] devinharia commented on #142
I searched for "pizza" in Alabama from 1/1/2004-12/31/2015 for the category Food&Drink.

Here's a screenshot of the file I downloaded from Google Trends manually-

![1](https://cloud.githubusercontent.com/assets/10565678/19968236/bf4e3f34-a1f9-11e6-8ce8-73d401deae31.PNG)

Here's a screenshot of what I get from gtrendsR-

![2](https://cloud.githubusercontent.com/assets/10565678/19968386/5a2723f4-a1

[2016-11-03 14:08] eddelbuettel commented on #142
First rule of GitHub (or StackOverflow): Don't post screenshots.  Copy content and spend one minute learning about formatting (ie link in bottom left of box).

[2016-11-09 05:03] qqhsinyilin opened #144 "Errors for searching"
Hi, this morning, I can not obtain the data. The specified example is as follows.

the message I obtained is:
Not enough search volume. Please change your search terms.

what's wrong?  thanks in advance for your notice.

[2016-11-09 13:08] PMassicotte commented on #144
I dunno, works fine on my side.

[code]

[2016-11-09 15:45] samarv commented on #144
Yeah, not working for me too! I think, Google trends has been updated. as i see the page source. can query from browser, but not from R or python

[2016-11-09 15:48] eddelbuettel commented on #144
Also works for me, so I suggest we close this:

[code]

[2016-11-09 15:59] #144 closed

[2016-11-10 02:45] kenchiujs commented on #130
Hello sir:
After I try so many different ways to fix that problem, find the answer.
When you use the Windows 7, the operating system must be English version !
Alter the formats, location and administrative to English  among changing display language,if you use the traditional or simple Chinese language.
p.s. if you use the OS system, it can be used in Chinese situation.

thanks so much 非常謝謝!!!

[2016-11-10 12:53] PMassicotte commented on #130
Glad you fixed the problem!

[2016-11-10 12:53] #130 closed

[2016-11-28 18:40] euphoricfield opened #145 "Error : Not enough search volume. Please change your search terms."
Hi, I am going to use google trends to query around 100,000 unique keywords. And I always receive this error: **Error : Not enough search volume. Please change your search terms.** I do understand that there are some keywords with not enough search volume, but there are also many cases where the data could be downloaded online while in rstudio showing this error.

I think this is related to quota

[2016-11-28 18:45] euphoricfield commented on #145
[10data.txt](https://github.com/PMassicotte/gtrendsR/files/617150/10data.txt)

[2016-11-28 19:11] ylelkes opened #146 "additional geos (within US)"
Would it be possible to add all DMAs within the US (so sub-state)?  I've attached a file with all google dmas for the US.
thanks!
[dmas.txt](https://github.com/PMassicotte/gtrendsR/files/617214/dmas.txt)

[2016-11-28 19:20] eddelbuettel commented on #146
We generally need a _machine-readable_ source in order to script / automate that.  Ie we need to know where you got it from rather than having a file handed down.

[2016-11-28 19:22] eddelbuettel commented on #145
I understand what trading symbol tickers are, thank you.

You appear to believe that Google would let you scrape this content wholesale.  I doubt they will -- you may have seen the dozens of others reports we get when people lament rejection after a few _handful_ of requests.  Methinks you need to more carefully consider what may or may not be feasible here.

We should probably close this.

[2016-11-28 19:27] ylelkes commented on #146
it's from here:
www.google.com/help/hc/downloads/ds3/Location-Language-Codes-AdWords.xlsx
the codes come from column "metro"

[2016-11-28 19:41] PMassicotte commented on #146
Can you pinpoint out an example of code that is not included in "our" master list?

[2016-11-28 19:50] ylelkes commented on #146
Sure. As far as I understand, you have all the countries and states in the US. So you have US-AK for United States and Alaska, but you don't have the metro areas, e.g., 743, 745,  747. US-AK-743 is the geocode for anchorage, alaska.

[2016-11-30 10:06] ceste commented on #108
@heck1 I tried your solution but still I end up with the same error occurred.

Can you show me part of your code where do you put your Sys.sleep(10)      ?

Is there any way to solve this problem?

[2016-11-30 10:32] knbknb opened #148 "I think gconnect() works only for accounts that have 2-factor-Auth _Dis_abled."
Google recommends that account-users  switch to 2-Factor Authentication by default to make their logins more secure. If users *only* allow for 2-factor authentication, `gtrendsR::gconnect() no longer works, and the error message is not very informative.

See https://www.google.com/settings/security/lesssecureapps

I cannot set an app-specific password.
I hope this bug-report / enhancement request

[2016-11-30 12:16] eddelbuettel commented on #148
Your assumption is wrong.

I do all my tests for this with a one-off account I created which does _not_ have 2FA.

[code]

[2016-11-30 14:53] #146 closed

[2016-12-05 16:29] knbknb commented on #148
OK, maybe my issue report was not clear enough, and this is to clarify.

I've tried two different google accounts now:

Account with simple "security model" (no 2-factor auth by default)

    # expected behaviour:
    gconnect("no.2factorauth@gmail.com", "*password*", verbose = TRUE)

Result, all good:

`Google login successful!`

----
My standard account with 2 factor-auth enabled by default, as

[2016-12-05 16:30] eddelbuettel commented on #148
Standard and documented behaviour. You have to register this app with a specific random password to cope with the fact that the account you use as 2FA whereas our code can't -- I do the same with eg Thunderbird against my GMail account.

[2016-12-05 16:30] #148 closed

[2016-12-05 16:45] knbknb commented on #148
I *have* also tried this with "App-Specific Passwords", or whatever Google calls them these days. I am familiar with them (there are 4 variants I think), and I've also used them before for Thunderbird, Calendar, Google App Script Programming. But it didn't work for gtrendsR. And at this time it is *not at all* documented that a client programmer of gtrendsR can/should create an app-specific passwo

[2016-12-05 16:52] eddelbuettel commented on #148
You are more than welcome to help debug this.  I was not aware you had tried 2FA one-off password as you had not said so.

We are skating on somewhat thin ice here as what we access is _not_ a supported Google API anyway.  So if something does not work now that may not change.

gtrendsR works for Philippe, myself and many other users.  But we cannot possibly debug every possible depoyment.  Sorry.

[2016-12-12 08:41] sm1992 opened #149 "Error on gconnect()"
I keep seeing an error saying this application has requested the runtime to terminate . Tried fixes mentioned in earlier threads (new gmail account, etc.), nothing seems to work. Can you guys give me some leads on how to solve this?
I was also seeing an error earlier saying "XML not found" which i dont see anymore after using install.packages("XML").

Here's my output for R.Version(), if it helps.

[2016-12-12 10:35] sm1992 commented on #149
An update here, seems like he problem is with my rstudio app as it runs fine in native r

[2016-12-12 10:57] #149 closed

[2016-12-16 21:12] #143 closed

[2016-12-16 21:12] #142 closed

[2016-12-20 18:39] abeburnett commented on #132
Note to future users who come across this error:

I discovered that I was running into this issue because of some sort of R namespace issue. I'd found, installed, and attempted to use GtrendsR--and when that didn't work as expected then I found, installed, and attempted to use gtrendsR (note the different capitalization in the first letter). I did attempt to detach the GtrendsR package (and the gt

[2016-12-28 09:44] frenchdoctor opened #150 "Duration less than a month?"
Hi,
I am trying to recover data regarding US elections. I would like to study the volume of research for some key words, e.g. Donald Trump, on some specific date (example below). The duration time of my request is small (a few days). However, the output of the command is monthly data: is there some way to constraint R to only study the period I am interested in? (Dropping days I am not interested

[2017-01-05 19:20] PMassicotte commented on #150
Not sure to understand your question.

If I run your code I have daily data.

[code]

[2017-01-05 20:10] PMassicotte commented on #150
This is kind a limitation of the pseudo Google trends API

If you look here (https://github.com/GeneralMills/pytrends) at the `date` section, you will find all the possible ways to work with dates.

[2017-01-05 20:21] #145 closed

[2017-01-05 20:57] PMassicotte commented on #133
This should be correctly addressed now.

[2017-01-05 21:00] PMassicotte commented on #128
@eddelbuettel should we use this suggestion to avoid other potential problem?

[code]

[2017-01-05 21:14] eddelbuettel commented on #128
May make sense. I am unfamiliar with the idiom.  (And you may have left `hl=en-US` by accident in a space where it didn't belong.)

[2017-01-05 21:39] #128 closed

[2017-01-05 21:43] #133 closed

[2017-01-05 21:48] PMassicotte commented on #126
@nandofernandesneto Can you dl the dev version and see if it corrects the error?

[2017-01-05 21:49] PMassicotte commented on #116
I am thinking it is related to #151

@hgodinez Can you try again with the dev version?

[2017-01-06 07:23] frenchdoctor commented on #150
Thanks for your answer, I will look at the link you sent

[2017-01-06 07:23] #150 closed

[2017-01-09 00:28] eolica commented on #129
@ThisRay Can you expand on what you mean by the problem in "trendsReport"? I'm also getting discrepancies (quite large) and don't know what to do.

[2017-01-10 21:54] eolica opened #153 "Discrepancy between gtrendsR and Google Trends on Web"
Dear authors and users,

I'm experiencing major differences in gtrendsR results and what I can directly download from Google Trends Web. Here is my code:

library("gtrendsR")
library("tidyr")
library("readr")
usr <- "usr@gmail.com"
psw <- "password"
gconnect (usr, psw, verbose = FALSE)

location = "US-NH" # Limited to New Hampshire
query = c("Anne Kuster", "Jim Lawrence", "John Babiarz")
data = gt

[2017-01-11 00:05] lexkel commented on #108
I'm an R newbie, but i've been playing around with gtrendsR for the past two months or so. This google quota error is mighty annoying - and could prove the death of my model if i can't resolve it - it is rather impracticle to update the model over 5-6 days to extract all the google trends categories that i need!

Even with the 10 second sleep in my code, I've only been able to pull about 200 reque

[2017-01-11 01:49] ceste commented on #108
@lexkel ,

As I know, max number query per day is range from 180 to 200 keywords. So you have reach the max query per day.

[2017-01-11 20:55] lewisbrk commented on #103
I have been reading this string and am wondering if this is still a valid solution.  We're trying to use GtrendsR, but keep getting this "Google login failed! Check your login information".  I'm not a R expert so I'm not sure I understand what I need to do.

I've basically done the following:
devtools::install_github("PMassicotte/gtrendsR")

[2017-01-11 20:58] PMassicotte commented on #103
Difficult to tell. Can be 2-ways auth. Still working on my side, so hard to debug.

[2017-01-11 21:01] lewisbrk commented on #103
How do I know if I have it installed correctly?  Is that all I have to do is install that gtrendsR and then use the gconnect statement?

[2017-01-11 21:07] eddelbuettel commented on #103
If you can do `library(gtrendsR)` then the R side of things (installation, dependencies, ...) should be fine.

But this is networking and works with another side not exactly providing this as an API, so it is hard to tell.  It still works for me, as it does for Philippe.

[2017-01-19 08:43] harshalathawale31 opened #154 "Timeout was reached while connecting gmail"
I created new gmail ID to connect google trends.  I used the following code :
gconnect(usr, psw) ## Username and password given, no two stage authentication in my gmail
Error received :: **Error in curl::curl_fetch_memory(url, handle = handle) :
  Timeout was reached**

Can you suggest me where is the problem ?

[2017-01-19 14:06] PMassicotte commented on #154
It happens sometimes. Just retry and it should work.

[2017-01-22 20:05] carloscinelli commented on #96
Hi guys, this issue is coming up more often now that the user base of your package is growing and there are more people from other timezones that do not use linux. To reproduce the problem you must test it in other OS as we mentioned before.

Maybe it's time to address this problem for the next release? If not with the change I suggested  at least with something else?

Best! Carlos

[2017-01-23 12:40] PMassicotte commented on #96
@eddelbuettel you are the time expert, what do you think?

[2017-01-23 12:49] eddelbuettel commented on #96
@PMassicotte Dates and times are difficult.  That is about all I know.  And that UTC is a fallback.

Do we have a release candidate?  @carloscinelli can you ascertain that the current master branch works?

[2017-01-23 20:41] PMassicotte commented on #96
I don't think we made any changes to address this issue because we could not reproduce it on our machine.

[2017-01-24 13:48] deslion commented on #108
It seems like such an error appears when the query is non-English.
This will throw the error.
[code]
And this:
[code]
will not.
Also I have a question: can I somehow set the encoding in returned result?
Now I see this as a result:
[code]

[2017-01-24 14:19] udrea opened #155 "ERROR: could not find function "xpath_element""
I have the following Shiny app on a server:

[code]

When I try to run the app, it crashes with the following message:

[code]

Any ideas what might cause this issue?

[2017-01-24 14:26] PMassicotte commented on #155
It is a problem between  `rvest` and `shiny`.

https://groups.google.com/forum/#!topic/shinyapps-users/Qwxfd0C-ddw

I suggest to search on Google on how to fix this problem.

[2017-01-24 14:26] #155 closed

[2017-01-24 15:40] eddelbuettel commented on #108
If you use special encoding, it seems like it is your error in the first case, and correct behaviour in the second case -- so please submit _with_ the correct encoding when it is in fact needed.

As for non-English / non-standard results sets: unsure.  We should probably set the encoding there.  Maybe you can try that?

Internationalization is hard.  Help is welcome.

[2017-01-24 15:49] deslion commented on #108
@eddelbuettel That's the problem - I can't figure out, what encoding is it)
Well, found some tool, for encoding. It seems, result is in cp65001. Never seen this encoding before.

[2017-01-24 16:20] PMassicotte commented on #108
The following works for me (using the dev version):

[code]

I remember I worked to deal with encoding issue. It *should* be fixed.

[2017-01-24 16:31] deslion commented on #108
@PMassicotte I've just tried to use **iconv(..., from = "CP65001")**, and now the result is readable.
[code]
And yes,
[code]
But
[code]

It seems like some inside-convertation is needed.

[2017-01-24 16:40] eddelbuettel commented on #108
Please see what @PMassicotte said and *retry using the dev version*.

[2017-01-24 16:43] deslion commented on #108
@eddelbuettel Do you mean installing through the devtools? If so, yes, I have installed package this way.

[2017-01-24 16:48] deslion commented on #108
@PMassicotte Can you show, what is a result of
[code]
on your side?

[2017-02-06 12:57] samarv opened #156 "Adapting to the new TRENDS API"
dreyco676 of https://github.com/GeneralMills/pytrends ,seems to have find a way to query trends' new Api, from python. maybe we can do the same for R and gtrendsR.

Thanks.

[2017-02-06 13:07] PMassicotte commented on #156
We are using the same way to query Google. As stated by him:

[2017-02-06 13:22] #156 closed

[2017-02-06 13:23] samarv commented on #156
if you look here , https://github.com/GeneralMills/pytrends/blob/master/pytrends/request.py , he is using  Tokens(I don't think, gtrendsR uses tokens) , and the code is all changed as dreyco676 mentions in  this issue about the new API, https://github.com/GeneralMills/pytrends/issues/93

P.S. - Dude, stop closing the issues, it's genuine improvement request.
P.P.S - documentation isn't yet changed

[2017-02-06 13:26] eddelbuettel commented on #156
Moderate your tone or I block you.

[2017-02-07 08:17] deslion commented on #108
If it's possible, I'd like to see the result of previous code on other's side)

[2017-02-07 12:27] PMassicotte commented on #108
Hi @deslion, it is on my todo list :) I will try today or tomorrow.

[2017-02-07 22:38] jfhc opened #157 "Daily data over a long period"
It would be great if this package could handle getting daily data over a longer period (e.g. by behind-the-scenes getting it in 90 day chunks and pasting it together/normalising)

[2017-02-07 23:21] eddelbuettel commented on #157
Can you try to contribute it?

[2017-02-09 20:37] PMassicotte commented on #95
@selesnow do you still have problems with this?

[2017-02-09 20:37] #154 closed

[2017-02-09 20:44] PMassicotte commented on #108
[code]

It seems to work on my side.

[2017-02-09 21:29] PMassicotte commented on #13
Hi @eddelbuettel

Just tried few things to fix our package with the new google trends changes. I found that it could be relatively easy to use `curl()`.

[code]

What do oyu think?

[2017-02-09 21:35] eddelbuettel commented on #13
Could do.  We just switched RPushbullet from the external binary curl to the curl package,  A few small hickups here or there as the json boxing is invariably different here or there.  Probably better in the long run.

[2017-02-09 21:37] PMassicotte commented on #13
Does the above code works for you?

[2017-02-09 21:44] eddelbuettel commented on #13
Sure does.  Standard default Ubuntu terminal, beautiful accented characters in reply.

[2017-02-09 22:28] PMassicotte commented on #13
Alright! I will work my way with `curl` in the upcoming days.

[2017-02-10 06:42] selesnow commented on #95
@PMassicotte Hi, i chek this today.

[2017-02-10 08:18] jonellingsen opened #158 "Categories for Norway"
Is it possible to include the categories for Norway? As far as I can see, this is not possible to obtain now.

[2017-02-10 12:18] eddelbuettel commented on #158
Do you have source data, ie a Google query that shows them, similar to what we have with other countries?

[2017-02-11 15:06] eddelbuettel opened #159 "Travis support"
For [another repo](https://github.com/eddelbuettel/rpushbullet) I just worked out how to safely encode a "secret" API key and token for use by Travis following their [instructions](https://docs.travis-ci.com/user/encrypting-files/).

I think it would be useful to add the one-off Google account I created for this.  That way we can actually run tests, ensure nothing breaks when we make changes and e

[2017-02-11 17:50] PMassicotte commented on #159
That's a brilliant idea. I never knew how to do it.

[2017-02-11 17:52] PMassicotte commented on #159
BTW, rpushbullet looks awesome. I will definitely try it.

[2017-02-11 18:10] eddelbuettel commented on #159
It "cost" me about three failed builds.  One was normal, in one case I forgot to pull before pushing and then I had one "weird" one where the encoded/encrypted file all of a sudden no longer worked.  That was when I had played with encrypting `.Rprofile` for us here.  Simply got be more careful.

It is actually pretty slick and simple.  May write a short blog post about it.  I'll set this up tomor

[2017-02-11 21:46] PMassicotte commented on #159
It seems that you no longer need to be logged in to download the data. I will push a proof of concept soon so you can try it.

[2017-02-12 00:14] PMassicotte commented on #159
Early tests show that you do not need to log in anymore to request data.

[code]

[2017-02-12 00:15] eddelbuettel commented on #159
Interesting.  How do they then monitor / cap usage?

[2017-02-12 00:41] PMassicotte commented on #159
Good question, I have no idea.

[2017-02-12 17:36] eddelbuettel opened #160 "Login woes"
[code]

[2017-02-12 20:31] PMassicotte commented on #160
It seems related to #103 (check bottom). I think it is coming from `rvest` which uses `curl` behind the scence.

[2017-02-12 20:34] eddelbuettel commented on #160
I think this is the first time it has been failing for me in a long time.  It used to just work.

[2017-02-12 22:20] eddelbuettel commented on #160
I also fails for me on plain 1.3.5 from CRAN.

[2017-02-12 22:34] eddelbuettel commented on #160
I may have found the culprit. On the page https://myaccount.google.com/security#connectedapps one needs to have 'Allow less secure apps' as 'ON'.

[2017-02-12 22:51] PMassicotte commented on #160
If I understand correctly, that's a new problem with the "old" gtrendsR? So something has changed scurity wise?

[2017-02-12 23:06] eddelbuettel commented on #160
1,   I have fucking idea what was going on.   I could not login *for any version of gtrendsR*
2.   That is obiously not our code but their backend.  So I looked.  As per the message I wrote here for you, it now fixed.  For every version of gtrendsR.  It was cause by Google with respect to my test login.
3.   I can not run tests again here.
4.   I can for the life of me not make it work under Travi

[2017-02-12 23:37] PMassicotte commented on #160
We will get rid of `rvest` soon, once I am done with the new version that do not require loggin. Hence, we will be able to run tests smoothly (hopefully).

[2017-02-12 23:39] eddelbuettel commented on #160
I can replicate this under a 14.04 Docker container:

[code]

That is pathetically fragile shit.   Say what will about RCurl it did not break randomly like this whateververse crap.

[2017-02-12 23:42] eddelbuettel commented on #160
That said, getting rid of logins is good.  Also avoids the hell I had earlier.

[2017-02-13 01:27] PMassicotte commented on #160
Using this trend to ask you a question about `anytime`.

I noticed that gtrend return sometimes format "2012-04". If I try to convert it with `anytime` I get:

[code]

However, this works:

[code]

Any idea?

[2017-02-13 01:38] eddelbuettel commented on #160
Wrong repo for anytime discussions.  Incomplete formats are not supported.  Year-month is incomplete.

[2017-02-13 01:39] eddelbuettel commented on #160
Here both seem to work:

[code]

But this is *clearly* and *demonstrably* outside the scope and spec.  Expect random rubbish.

[2017-02-13 01:42] PMassicotte commented on #160
tx

[2017-02-13 02:21] PMassicotte opened #161 "Add vignette"
On how to use the new version of the package.

[2017-02-13 08:06] jonellingsen commented on #158
I am sorry, but I am not sure what you mean by a Google query that shows them. How did you get this source data for other countries? My only reference is the possibility to choose a category at the webpage, and that the categories in Norwegian differ from those in the US.

[2017-02-13 14:02] PMassicotte commented on #158
You need to tell us explicitly which code is missing from our database. Then, provide a source (web page for ex) that contains the missing information.

[2017-02-13 16:11] samarv commented on #157
Here's the thing you are looking for! it's in python, but I think it's a good starting point. [https://github.com/jiby91/Big_data_trading_algorithm/blob/master/Pytrends.ipynb](url)

[2017-02-13 16:16] samarv commented on #159
ahem ahem! @eddelbuettel  I told, you guys to do the same enhancement ( and, was wondering if, i could contribute)  but, you guys had to CLOSE the issue every time. but anyways. I think, you guys got the point, better late than never! and @eddelbuettel  dude, take a chill pill! take a deep breath in and listen!

[2017-02-13 16:31] eddelbuettel commented on #159
Congratulations.  You just became the first user I blocked on GitHub.

[2017-02-13 16:39] jonellingsen commented on #158
I believe I was wrong: the categories are the same for all countries.

But when I try the following code:
`butikkhandel <- gtrends(geo = "NO", cat = "18")`
I get the following error:
`Error: Not enough search volume. Please change your search terms.`

However, at the webpage I get the data in the specified category by using the link below.
Do you know why? This seems to be the problem with all cat

[2017-02-13 16:43] PMassicotte commented on #158
you have to specify a keyword

[2017-02-13 16:50] jonellingsen commented on #158
I get the same error when I specify a keyword.

`butikkhandel <- gtrends(query = "sko", geo = "NO", cat = "18")
Error: Not enough search volume. Please change your search terms.`

The webpage gives me results for this word and category:
[https://www.google.com/trends/explore?cat=18&date=all&geo=NO&q=Sko](https://www.google.com/trends/explore?cat=18&date=all&geo=NO&q=Sko)

[2017-02-13 19:32] PMassicotte commented on #158
Can you try the upcoming new version of the package?

First install it:

[code]

[code]

[2017-02-13 19:36] PMassicotte commented on #157
@jfhc

First install the new upcoming version

[code]

![](http://i.imgur.com/Mp3sBjj.png)

[2017-02-13 19:38] #157 closed

[2017-02-13 19:43] PMassicotte commented on #153
First install the new upcoming version

[code]

Note that you do not need to log in anymore.

[code]

![](http://i.imgur.com/Nr6THiu.png)

[2017-02-13 19:43] #153 closed

[2017-02-13 19:44] PMassicotte commented on #131
I will close this since a new version likely to fix it is coming

[2017-02-13 19:44] #131 closed

[2017-02-13 19:45] PMassicotte commented on #129
First install the new upcoming version

[code]

Note that you do not need to log in anymore.

[code]

![](http://i.imgur.com/D2jQWKx.png)

[2017-02-13 19:45] #129 closed

[2017-02-13 19:46] PMassicotte commented on #126
This is likely to be fixed in the upcoming version

[2017-02-13 19:46] #126 closed

[2017-02-13 19:50] PMassicotte commented on #117
@jamesbn @neimad128 Can you try the upcming version?

First install the new upcoming version

[code]

Note that you do not need to log in anymore.

[code]

![](http://i.imgur.com/RMwKWJi.png)

[2017-02-13 19:53] #13 closed

[2017-02-13 19:54] PMassicotte commented on #95
@selesnow

Can new try this?

First install the new upcoming version

[code]

Note that you do not need to log in anymore.

[code]

![](http://i.imgur.com/C7NFBif.png)

[2017-02-13 19:58] PMassicotte commented on #96
@eddelbuettel @carloscinelli

Can you try this:

First install the new upcoming version

[code]

Note that you do not need to log in anymore.

[code]

![](http://i.imgur.com/R2w731b.png)

[2017-02-13 20:00] PMassicotte commented on #100
@cord-otten The upcoming version do not require login anymore. So I am closing this.

[2017-02-13 20:00] #100 closed

[2017-02-13 20:01] PMassicotte commented on #116
First install the new upcoming version

[code]

Note that you do not need to log in anymore.

[code]

![](http://i.imgur.com/r46kP7r.png)

[2017-02-13 20:01] #116 closed

[2017-02-13 20:03] PMassicotte commented on #108
@deslion Try this:

First install the new upcoming version

[code]

Note that you do not need to log in anymore.

[code]

![](http://i.imgur.com/KqUIDeG.png)

[2017-02-13 23:13] carloscinelli commented on #96
Ok! I will give it a shot and ask other people to try it too.

[2017-02-13 23:14] carloscinelli commented on #96
Not having to login is huge plus by the way! It worked fine on my machine!

[2017-02-13 23:16] #96 closed

[2017-02-14 06:33] selesnow commented on #95
@PMassicotte

Great, all work, very thanks!!!

[2017-02-14 06:33] #95 closed

[2017-02-14 08:01] deslion commented on #108
This is what I have now:
[code]

[2017-02-14 08:25] jonellingsen commented on #158
Thank you very much!
I also tried the following code:
`res <- gtrends("sko",  geo = "NO", cat = "18", time = "all")`
This gives me monthly data. Does this mean that weekly data is not available when specifying category?
And it seems like the code
`res <- gtrends("",  geo = "NO", cat = "18", time = "all")`
also works. Can you verify that this gives me the aggregated series for cat = 18?

[2017-02-14 08:37] jonellingsen commented on #158
Actually, this seems to be the case also when I do not specify a category. Before, I obtained weekly data from 2004 for the search query "sko" from gtrendsR, but now I only obtain monthly data. Has something changed with the frequency?

[code]

[2017-02-14 12:35] anafla commented on #108
I had the same problem as you @deslion

[2017-02-14 12:49] PMassicotte commented on #158
@jonellingsen Can you get it on the official website? If I go there and get the data since the beginning (i.e 2004), it will be returned monthly.

[2017-02-14 12:59] HolgerMuster opened #162 "Warning message: In request_GET(x, url, ...) : Gone (HTTP 410)."
All,

I was able to run the follwoing script:

# connect to google
usr <- "???@gmail.com"
psw <- "??"
library(gtrendsR)
# connect to Google
gconnect(usr, psw)
myTrend <- gtrends(c("iphone", "galaxy"), geo = c("DE"));

I changed my query gtrends() and applied it several times succesfully. Then, from one second to another,
I get warning message "...Gone (HTTP 410).". I dont't get any result now. I t

[2017-02-14 13:02] PMassicotte commented on #162
Install the new upcoming version

[code]

Note that you do not need to log in anymore.

[code]

![](http://i.imgur.com/iL4wNYI.png)

[2017-02-14 13:10] jonellingsen commented on #158
No, I get monthly data from the website as well. I was just wondering how it was possible that gtrends gave me weekly data before I updated the package as you told me, while the website has given me monthly data the whole time?

[2017-02-14 13:15] PMassicotte commented on #158
Google updated Google Trends. The old one is still working and returns weekly data. It still works for now, but I suspect it will be removed soon.

[2017-02-14 13:16] HolgerMuster commented on #162
Thanks for your tip. I followed your recommendation, resulting in another error:

Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  namespace ‘Rcpp’ 0.12.8 is already loaded, but >= 0.12.9 is required

I tried

Warning in install.packages :
  package ‘Rccp’ is not available (for R version 3.3.2)

I'm working on Windows 32-bit

[2017-02-14 13:16] jonellingsen commented on #158
Okay, thank you very much for your kindness.
I really appreciate this package.

[2017-02-14 13:17] PMassicotte commented on #162
I think it is a good question for @eddelbuettel !

[2017-02-14 13:17] HolgerMuster commented on #162
ok, thanks so far!

[2017-02-14 13:19] #158 closed

[2017-02-14 13:23] HolgerMuster commented on #162
I applied

install.packages("Rcpp")

instead of Using R-Studio installer. It runs now based on Rcpp_0.12.9.

All is fine. Thanks again.

BR Holger

[2017-02-14 13:23] #162 closed

[2017-02-14 13:25] PMassicotte commented on #108
Can you try that:

Install the new upcoming version

[code]

![](http://i.imgur.com/dFt0dxh.png)

[2017-02-15 12:16] felipe10 commented on #108
Hi,

I was using GtrendsR and it was working perfectly. However, I just got a weird warning message:

Error: Not enough search volume. Please change your search terms.
In addition: Warning message:
In request_GET(x, url, ...) : Gone (HTTP 410).

Could you please help me with this?

Thanks.

[2017-02-15 13:59] PMassicotte commented on #108
@felipe10 Try to install the version I am talking up there.

[2017-02-15 16:02] felipe10 commented on #108
Hi,

Thanks for your reply.

I tried to install the new version
devtools::install_github('PMassicotte/gtrendsR', ref = 'new-api')
but I get an error when I try to install the package "anytime".

install.packages("anytime")
Warning in install.packages :
  package ‘anytime’ is not available (for R version 3.2.4)

[2017-02-15 18:05] PMassicotte commented on #108
First, update your R to the latest version. Then it will work.

[2017-02-16 00:08] felipe10 commented on #108
Many thanks!

It works perfectly now.

[2017-02-16 12:58] ylelkes commented on #108
I installed devtools::install_github('PMassicotte/gtrendsR', ref = 'new-api') to deal with the http 410 issue, but now cannot search for volume of a category (no keywords). Will this be updated?
thanks.

[2017-02-16 13:32] PMassicotte commented on #108
Can you send the Google Trend link that return this data?

[2017-02-16 13:51] ylelkes commented on #108
I used to run this:
 gtrends(geo = "US-AZ",cat ='3' ,start_date = as.Date('2008-01-01'),end_date = as.Date('2014-12-31'),gprop = "youtube")

https://trends.google.com/trends/explore?cat=3&date=all_2008&gprop=youtube

thanks!

[2017-02-16 21:56] gpiccoli89 commented on #103
Hi all,

I just installed gtrends and when running gconnect("email","password") I also get "Google login failed! Check your login information." Login information I am using are correct and my google account works well with no two steps authentication.

Any suggestion?

Thank you!

[2017-02-16 21:58] PMassicotte commented on #103
@gpiccoli89 Check #158 for example. There is a new way to connect.

[2017-02-16 23:11] ericbrownaustin commented on #108
Having the same issue.

[2017-02-17 06:04] yuan-wei-cheng commented on #108
I also have request problem. Could anyone help me out ?
below is my code and error message (my google account doesn't have two-step authentication )

Error: Not enough search volume. Please change your search terms.
In addition: Warning message:
In request_GET(x, url, ...) : Gone (HTTP 410).

[2017-02-17 07:37] heck1 commented on #108
Hi guys,

the 410 error / i.e if I try to access the requested data directly from the url, I get this in return:

![unbenannt](https://cloud.githubusercontent.com/assets/20683786/23056531/2b001f64-f4ec-11e6-8499-e73e6937f03c.PNG)

[2017-02-17 18:43] WestaDom opened #164 "Conversion of reserved characters"
Would it be possible to add the option to set the reserved argument in the URLencode function (inside gtrends) for the query string?
I cannot get any results if my query is something like "& other stories" because the & character is a reserved character and not converted. Thanks

[2017-02-18 07:59] yuan-wei-cheng commented on #108
I tried to use development version but it didn't work @@  below is my code

Loading required package: devtools

Skipping install of 'gtrendsR' from a github remote, the SHA1 (549ef4bc) has not changed since last install.
  Use `force = TRUE` to force installation

Creating a generic function for ‘toJSON’ from package ‘jsonlite’ in package ‘googleVis’

Error: Not enough search volume. Please change

[2017-02-19 09:03] kyuui94 opened #165 "Unable to download data"
Hi guys!

I'm new to Github but a very happy user of gtrendsR. The last few days I have been experiencing the issue that whenever I try to download data I am able to log-in but I get the following warning:
1: In request_GET(x, url, ...) : Gone (HTTP 410).
It is the same for other IP's and google accounts so I don't think it has anything to do with the cap. I still need to download an enormous amou

[2017-02-20 12:12] flovv commented on #165
I get the same response.

Using the created request string and pluging it into the browser shows this very specific message:

_This resource is no longer available.
If you require support please email trends-data-request@google.com
Please include details about how you are using the Trends data._

Another step towards closing the unofficial api?

[2017-02-20 13:25] PMassicotte commented on #165
Please install it using:

[code]

[2017-02-20 13:26] PMassicotte commented on #164
Good idea. Will do it.

[2017-02-20 14:20] #108 closed

[2017-02-20 14:37] PMassicotte commented on #165
The new version can be now installed using:

[code]

CRAN version coming soon.

[2017-02-20 14:37] #165 closed

[2017-02-20 14:42] PMassicotte commented on #159
Closing this since we do not need to login.

[2017-02-20 14:42] #159 closed

[2017-02-20 15:36] yuan-wei-cheng opened #166 "Error widget$status_code == 200 is not TRUE"
I tried new version and face this problem after querying like 100 times by for loop
Does this error means I reach the limit quota ?

Error: widget$status_code == 200 is not TRUE

[2017-02-20 16:22] PMassicotte commented on #166
Maybe wait a bit and try again. It is known that Google Trends has a limit. I just dont know the magic number. Can you try in few minutes and let us know.

[2017-02-21 02:25] melkbucher opened #168 "2 errors for each search query"
Dear all,

I have used gtrendsR for a long while, but in the past 10 days it has stopped working.
Having already logged in through gconnect(usr,pw), I get below error message
(i) not enough search volume
(ii) HTTP410 error
for each search query and/or time interval I specify.

Any ideas what this could be about? I have tried uninstalling and again installing gtrendsR. Many thanks!

Error: Not enou

[2017-02-21 14:31] PMassicotte commented on #168
Install the dev version and read the README.

[code]

![](http://i.imgur.com/Xi7BBy8.png)

[2017-02-21 14:31] #168 closed

[2017-02-21 15:38] melkbucher commented on #168
Many thanks, Philippe!

[2017-02-21 21:07] Macron2017 opened #169 "Too many errors with your package !"
Hi,
It is important to test you packages before puting it on the CRAN.
Many problems !

[2017-02-21 21:23] PMassicotte commented on #169
It is important that you learn how to read the README file before posting.

[2017-02-21 21:23] #169 closed

[2017-02-22 13:17] #117 closed

[2017-02-22 13:18] PMassicotte commented on #160
Closing this since we do not need to login anymore.

[2017-02-22 13:18] #160 closed

[2017-02-22 13:56] joeytang202 opened #170 "Recurring Search Volume Issues"
Hey everyone,

I have been working on a report for a client using gtrendsR during the last two months. Since a couple of days now, whenever I use the script I get the following error:

Error: Not enough search volume. Please change your search terms.
In addition: Warning message:
In request_GET(x, url, ...) : Gone (HTTP 410).

I have looked around on the forum and although I found that it is not a

[2017-02-22 14:14] PMassicotte commented on #170
Google has made changes to their API. Install the dev version and make sure to read the README file.

[2017-02-22 14:14] #170 closed

[2017-02-27 12:30] mpujszo opened #171 "Non-ASCII characters"
I'm using a new version of gtrendsR and everytime I search for the word with a Polish character I get an error: Error: res$status_code == 200 is not TRUE. The example below:
 gtrends(keyword = "ŁAZIENKA", geo = "PL", category = 0, time = "2017-01-01 2017-02-01")
Error: res$status_code == 200 is not TRUE

Can you help me with this?

[2017-02-27 12:40] eddelbuettel commented on #171
Please explain why you needed this issue _on top of the already existing #166_.

[2017-02-27 13:06] mpujszo commented on #171
I'm sorry but I don't know if
Error widget$status_code == 200 is not TRUE
is the same as
Error: res$status_code == 200 is not TRUE
And I only get this error for the words with Polish characters, everything else works fine. So I thought it's not the same problem.

[2017-02-27 13:32] PMassicotte commented on #171
It must be related to non-ascii characters. We need to address this with characters encoding.

[2017-02-27 23:09] liang-jack-a opened #172 "Metro Areas in 2.0"
Hi, thank you very much for this excellent package. I recently updated to 2.0 to fix the issue of #108, however, I noticed that we no longer got metro area level data when we run a query like
`trend <- gtrends("example", geo = "US", time = "2004-01-01 2017-01-31")`

Previously, you package would return something like  `trend$Top.metros.for.United.States` that would have data on metro-level compari

[2017-02-27 23:13] PMassicotte commented on #172
Hi there.

You are right. It isnot currently working, but I am working on it. Should be released this week.

[2017-02-27 23:17] liang-jack-a commented on #172
Fantastic, thank you very much.

[2017-02-28 04:13] abeburnett commented on #171
I'm getting this too. In my case, I'm URL encoding C# (and F#) to c%23 and f%23 respectively. However, it's still puking on me, even though other query terms work fine.

[2017-02-28 13:49] PMassicotte commented on #171
With the current dev version it works for me:

[code]

![](http://i.imgur.com/h3t5G7G.png)

I am running in on Linux Mint. So it might be due to some `locales` parameters.

[2017-02-28 14:43] PMassicotte commented on #171
This also works fine.

[code]

![](http://i.imgur.com/V5xCNdN.png)

[2017-02-28 15:49] abeburnett commented on #171
Nice. I'll pull down the current dev version and see what I get. Thanks for
looking at this so quickly!

On Tue, Feb 28, 2017, 7:43 AM Philippe Massicotte <notifications@github.com>
wrote:

[2017-02-28 22:10] kyuui94 opened #173 "Downward sloping categories series"
Hi guys,

I have been experiencing a small issue with gtrendsR, since the new api came out it Seems like all categories series that i download as:
Gtrends("", geo=US, time="all", category=cat[i])
All seem to be downward sloping, even though this sometimes seems counter intuitive.
Has there been any changes as to hoe to data is retrieved?

Thanks in advance

[2017-02-28 23:25] abeburnett commented on #171
Huh, so weird! I just attempted to re-run the c# (after url encoding: c%23) and it still pukes on it. I've checked my installation by doing `devtools::install_github("PMassicotte/gtrendsR")` and am told that I already have the current development version (`Skipping install of 'gtrendsR' from a github remote, the SHA1 (105f5db2) has not changed since last install.
  Use `force = TRUE` to force inst

[2017-03-02 19:43] PMassicotte commented on #173
@kyuui94 Can you provide the Trends URL that retrieve the requested data?

[2017-03-02 21:12] amorygethin commented on #171
Hello,

I am currently having the same problem. In fact, when I try:
`res <- gtrends(keyword = "ŁAZIENKA", geo = "PL", category = 0, time = "2017-01-01 2017-02-01")
`
as in the previous example, it works fine. However, when I try:
`res <- gtrends(keyword = "diversité", geo = "FR", category = 0, time = "2017-01-01 2017-02-01")
`
I also get the following error:

`Error: res$status_code == 200 is not

[2017-03-02 21:21] abeburnett commented on #171
Since the maintainer indicates that it's working fine for them, I wonder if
they have local code which hasn't been pushed or merged to master (since
that's what we're installing). Maybe it's on another branch which needs to
be merged in?

Either way, clearly there is something which the maintainer has which we do
not since they can successfully execute the queries which are failing for
us. Sigh.

[2017-03-02 22:10] PMassicotte commented on #171
they have local code which hasn't been pushed or merged to master (since
that's what we're installing). Maybe it's on another branch which needs to
be merged in? Either way, clearly there is something which the maintainer has which we do
not since they can successfully execute the queries which are failing for
us. Sigh.

No, I run exactly the same code. If you read carefully one of my previous ans

[2017-03-02 23:30] abeburnett commented on #171
Ah, my apologies. Missed that! Okay, so my system reports the following for `locale`:

[code]

Can you provide your locale settings so I can compare and contrast?

I appreciate your continued assistance figuring out why this isn't working for us!

[2017-03-03 14:02] PMassicotte commented on #171
[code]

[2017-03-06 17:42] abeburnett commented on #171
Thank you for posting your configuration!

My full sessionInfo() is as follows:

[code]

The most prominent difference is how your locale is reported versus mine. Mine seems to have a single character with all the locale specifications, whereas yours is a character _vector_ of specifications. I'm not sure why they differ since we're both running the same version of R. Yours is Ubuntu, mine is OSX,

[2017-03-06 17:46] abeburnett commented on #171
Differences between yours and mine:

*Mine*
LC_ALL="en_US.UTF-8"

*Yours*
LANGUAGE=
LC_PAPER="en_CA.UTF-8"
LC_NAME="en_CA.UTF-8"
LC_ADDRESS="en_CA.UTF-8"
LC_TELEPHONE="en_CA.UTF-8"
LC_MEASUREMENT="en_CA.UTF-8"
LC_IDENTIFICATION="en_CA.UTF-8"
LC_ALL=

[2017-03-06 18:07] abeburnett commented on #171
...And, it looks like the types you have aren't compatible with OS X. I.e., attempting to set LC_PAPER gives me an "unknown category" error.

[2017-03-06 20:41] PMassicotte commented on #171
I dont know anything about OS X, I can't help with that.

I am working to find a general solution for the non-ascii characters. No ETA for the moment.

[2017-03-08 10:48] fredoh91 opened #174 "related request / related request"
Thank you for your work, your package is very good.

I wonder if it is possible to add feature in your gtrendsR. On the google trends page, you can see two sections : Related topics and Related queries and for the both you can set "Rising" or "Top". Do you project to implement these in your package ?

best regards

Fred

[2017-03-08 13:25] PMassicotte commented on #174
yes it is almost done

[2017-03-10 06:19] #174 closed

[2017-03-10 18:18] tiernanmartin commented on #172
Any progress on metro-level trends?

[2017-03-13 16:44] tiernanmartin opened #177 "Error in read.table"
I have encountered the following error with a wide variety of keywords:

[code]
Here's the traceback:
[code]

As you can see [here](https://trends.google.com/trends/explore?q=moonlight%20showtimes), the issue is not that there isn't any data to be collected.

[2017-03-13 21:37] PMassicotte commented on #177
[code]

![](http://i.imgur.com/cP6lTWN.png)

[2017-03-13 22:22] #172 closed

[2017-03-13 22:22] #177 closed

[2017-03-15 08:58] aka4938 opened #178 "top related searches for each keyword"
The old version of gtrends delivered top related searches for each keyword. Will this feature also be available for the new version of gtrends? If that is the case, do you already know when?
Cheers & thanks

[2017-03-15 12:15] PMassicotte commented on #178
It is there if you install the dev version.

[code]

[2017-03-15 12:15] #178 closed

[2017-03-15 15:18] jonellingsen opened #179 "Top search queries within a category"
Hi,

Is it possible for you to implement top searches within a category as output from the gtrends function?

Here is an example:
I want the object below, "cat", to contain a list of top searches in the category "1267".

`cat <- gtrends("", category = "1267", geo = "NO")`

Google gives me that information on the website as you can see from this [link](https://trends.google.com/trends/explore?cat=1

[2017-03-15 17:46] tiernanmartin commented on #177
After installing the latest dev version, I am still running into this error:

[code]

[2017-03-15 17:52] eddelbuettel commented on #177
Then you are doing something wrong, or have a "unusual" R installation, or ...

[code]

[2017-03-15 18:01] tiernanmartin commented on #177
@eddelbuettel correct - uninstalling and re-installing the package resolved the issue 👍